# Dynamic-DeepHit Tutorial

### by Changhee Lee

In [1]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [2]:
cd '/content/drive/MyDrive/Dynamic_Deep_Hit/'

/content/drive/MyDrive/Dynamic_Deep_Hit

In [2]:
%tensorflow_version 1.x

UsageError: Line magic function `%tensorflow_version` not found.

In [1]:
import os
os.environ['CUDA_VISIBLE_DEVICES'] = '0,1'

In [ ]:
!jupyter nbconvert --to python tutorial_mimic_5Day.ipynb

[NbConvertApp] Converting notebook tutorial_mimic_5Day.ipynb to python
[NbConvertApp] Writing 18596 bytes to tutorial_mimic_5Day.py

In [300]:
_EPSILON = 1e-08

import numpy as np
import pandas as pd
import tensorflow as tf
import random
import os

from sklearn.model_selection import train_test_split

import import_mimic as impt


from class_DeepLongitudinal import Model_Longitudinal_Attention

from utils_eval             import c_index, brier_score
from utils_log              import save_logging, load_logging
from utils_helper           import f_get_minibatch, f_get_boosted_trainset

In [301]:
#int(1.2*6.1) = 7

In [302]:
def _f_get_pred(sess, model, data, data_mi, pred_horizon):
    '''
        predictions based on the prediction time.
        create new_data and new_mask2 that are available previous or equal to the prediction time (no future measurements are used)
    '''
    new_data    = np.zeros(np.shape(data))
    new_data_mi = np.zeros(np.shape(data_mi))

    meas_time = np.concatenate([np.zeros([np.shape(data)[0], 1]), np.cumsum(data[:, :, 0], axis=1)[:, :-1]], axis=1)

    for i in range(np.shape(data)[0]):
        last_meas = np.sum(meas_time[i, :] <= pred_horizon)

        new_data[i, :last_meas, :]    = data[i, :last_meas, :]
        new_data_mi[i, :last_meas, :] = data_mi[i, :last_meas, :]

    return model.predict(new_data, new_data_mi)


def f_get_risk_predictions(sess, model, data_, data_mi_, pred_time, eval_time):
    
    pred = _f_get_pred(sess, model, data_[[0]], data_mi_[[0]], 0)
    _, num_Event, num_Category = np.shape(pred)
       
    risk_all = {}
    for k in range(num_Event):
        risk_all[k] = np.zeros([np.shape(data_)[0], len(pred_time), len(eval_time)])
            
    for p, p_time in enumerate(pred_time):
        ### PREDICTION
        pred_horizon = int(p_time)
        pred = _f_get_pred(sess, model, data_, data_mi_, pred_horizon)
        #print(pred.shape)
        print("Pred ==============================================")
        print(pred)


        for t, t_time in enumerate(eval_time):
            eval_horizon = int(t_time) + pred_horizon #if eval_horizon >= num_Category, output the maximum...

            # calculate F(t | x, Y, t >= t_M) = \sum_{t_M <= \tau < t} P(\tau | x, Y, \tau > t_M)
            risk = np.sum(pred[:,:,pred_horizon:(eval_horizon+1)], axis=2) #risk score until eval_time
            risk = risk / (np.sum(np.sum(pred[:,:,pred_horizon:], axis=2), axis=1, keepdims=True) +_EPSILON) #conditioniong on t > t_pred
            
            for k in range(num_Event):
                risk_all[k][:, p, t] = risk[:, k]
                
    return pred, risk_all

### 1. Import Dataset
#####      - Users must prepare dataset in csv format and modify 'import_data.py' following our examplar 'PBC2'

In [303]:
data_mode                   = 'PBC2' 
seed                        = 1234

##### IMPORT DATASET
'''
    num_Category            = max event/censoring time * 1.2
    num_Event               = number of evetns i.e. len(np.unique(label))-1
    max_length              = maximum number of measurements
    x_dim                   = data dimension including delta (1 + num_features)
    x_dim_cont              = dim of continuous features
    x_dim_bin               = dim of binary features
    mask1, mask2, mask3     = used for cause-specific network (FCNet structure)
'''

if data_mode == 'PBC2':
    (x_dim, x_dim_cont, x_dim_bin), (data, time, label), (mask1, mask2, mask3), (data_mi) = impt.import_dataset(norm_mode = 'standard')
    
    # This must be changed depending on the datasets, prediction/evaliation times of interest
    #pred_time = [52, 3*52, 5*52] # prediction time (in months)
    #pred_time = [300]
    #eval_time = [12, 36, 60, 120] # months evaluation time (for C-index and Brier-Score)
    #eval_time = [6]
    
    # pred_time = [5 * 24]
    # eval_time = [1, 2, 3, 4, 5, 6]
    pred_time = [30, 60, 90]
    eval_time = [30, 60, 90]
else:
    print ('ERROR:  DATA_MODE NOT FOUND !!!')

_, num_Event, num_Category  = np.shape(mask1)  # dim of mask3: [subj, Num_Event, Num_Category]
max_length                  = np.shape(data)[1]


file_path = '{}'.format(datetime.now().strftime("%Y%m%d_%H%M%S"))

if not os.path.exists(file_path):
    os.makedirs(file_path)

### 2. Set Hyper-Parameters
##### - Play with your own hyper-parameters!

In [304]:
burn_in_mode                = 'ON' #{'ON', 'OFF'}
boost_mode                  = 'OFF' #'ON' #{'ON', 'OFF'}

##### HYPER-PARAMETERS
# TODO: Change to 32
new_parser = {'mb_size': 4,

             'iteration_burn_in': 3000,
             #'iteration': 25000,
              'iteration': 10000,

             'keep_prob': 0.6,
             'lr_train': 1e-4,

             'h_dim_RNN': 100,
             'h_dim_FC' : 100,
             'num_layers_RNN':2,
             'num_layers_ATT':2,
             'num_layers_CS' :2,

             'RNN_type':'LSTM', #{'LSTM', 'GRU'}

             'FC_active_fn' : tf.nn.relu,
             'RNN_active_fn': tf.nn.tanh,

            'reg_W'         : 1e-5,
            'reg_W_out'     : 0.,

             'alpha' :1.0,
             'beta'  :0.1,
             'gamma' :1.0
}


# INPUT DIMENSIONS
input_dims                  = { 'x_dim'         : x_dim,
                                'x_dim_cont'    : x_dim_cont,
                                'x_dim_bin'     : x_dim_bin,
                                'num_Event'     : num_Event,
                                'num_Category'  : num_Category,
                                'max_length'    : max_length }
print(input_dims)

# NETWORK HYPER-PARMETERS
network_settings            = { 'h_dim_RNN'         : new_parser['h_dim_RNN'],
                                'h_dim_FC'          : new_parser['h_dim_FC'],
                                'num_layers_RNN'    : new_parser['num_layers_RNN'],
                                'num_layers_ATT'    : new_parser['num_layers_ATT'],
                                'num_layers_CS'     : new_parser['num_layers_CS'],
                                'RNN_type'          : new_parser['RNN_type'],
                                'FC_active_fn'      : new_parser['FC_active_fn'],
                                'RNN_active_fn'     : new_parser['RNN_active_fn'],
                                'initial_W'         : tf.contrib.layers.xavier_initializer(),

                                'reg_W'             : new_parser['reg_W'],
                                'reg_W_out'         : new_parser['reg_W_out']
                                 }


mb_size           = new_parser['mb_size']
iteration         = new_parser['iteration']
iteration_burn_in = new_parser['iteration_burn_in']

keep_prob         = new_parser['keep_prob']
lr_train          = new_parser['lr_train']

alpha             = new_parser['alpha']
beta              = new_parser['beta']
gamma             = new_parser['gamma']

# SAVE HYPERPARAMETERS
log_name = file_path + '/hyperparameters_log.txt'
save_logging(new_parser, log_name)

{'x_dim': 18, 'x_dim_cont': 16, 'x_dim_bin': 1, 'num_Event': 1, 'num_Category': 120, 'max_length': 445}

### 3. Split Dataset into Train/Valid/Test Sets

In [308]:
### TRAINING-TESTING SPLIT
# TODO: could do stratified k-fold
(tr_data,te_data, tr_data_mi, te_data_mi, tr_time,te_time, tr_label,te_label, 
 tr_mask1,te_mask1, tr_mask2,te_mask2, tr_mask3,te_mask3) = train_test_split(data, data_mi, time, label, mask1, mask2, mask3, test_size=0.2, random_state=seed) 

(tr_data,va_data, tr_data_mi, va_data_mi, tr_time,va_time, tr_label,va_label, 
 tr_mask1,va_mask1, tr_mask2,va_mask2, tr_mask3,va_mask3) = train_test_split(tr_data, tr_data_mi, tr_time, tr_label, tr_mask1, tr_mask2, tr_mask3, test_size=0.125, random_state=seed) 

# (tr_data,te_data, tr_data_mi, te_data_mi, tr_time,te_time, tr_label,te_label, 
#  tr_mask1,te_mask1, tr_mask2,te_mask2, tr_mask3,te_mask3) = train_test_split(data, data_mi, time, label, mask1, mask2, mask3, test_size=0.2, random_state=seed) 

# (tr_data,va_data, tr_data_mi, va_data_mi, tr_time,va_time, tr_label,va_label, 
#  tr_mask1,va_mask1, tr_mask2,va_mask2, tr_mask3,va_mask3) = train_test_split(tr_data, tr_data_mi, tr_time, tr_label, tr_mask1, tr_mask2, tr_mask3, test_size=0.2, random_state=seed) 





# if boost_mode == 'ON':
#     tr_data, tr_data_mi, tr_time, tr_label, tr_mask1, tr_mask2, tr_mask3 = f_get_boosted_trainset(tr_data, tr_data_mi, tr_time, tr_label, tr_mask1, tr_mask2, tr_mask3)

In [317]:
tr_data.shape, va_data.shape, te_data.shape

((4416, 445, 18), (631, 445, 18), (1262, 445, 18))

In [320]:
tr_label.sum(), va_label.sum(), te_label.sum()

(283.0, 48.0, 74.0)

In [316]:
data.shape

(6309, 445, 18)

In [309]:
te_time.shape, va_time.shape

((1262, 1), (631, 1))

In [311]:
va_label.mean()

0.07606973058637084

In [314]:
te_label

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [1.]])

In [ ]:
tr_data.shape, va_data.shape, te_data.shape

((4416, 445, 18), (631, 445, 18), (1262, 445, 18))

In [168]:
va_label.sum() / 631, te_label.sum()/te_data.shape[0],  tr_label.sum()/tr_data.shape[0]

(0.07606973058637084, 0.058637083993660855, 0.06408514492753623)

In [13]:
va_data.shape

(1010, 445, 18)

In [14]:
te_data.shape

(1262, 445, 18)

In [15]:
tr_data.shape

(4037, 445, 18)

In [17]:
import time

### 4. Train the Networ

In [19]:
##### CREATE DYNAMIC-DEEPFHT NETWORK
tf.reset_default_graph()

config = tf.ConfigProto()
config.gpu_options.allow_growth = True
sess = tf.Session(config=config)

model = Model_Longitudinal_Attention(sess, "Dyanmic-DeepHit", input_dims, network_settings)
saver = tf.train.Saver()

sess.run(tf.global_variables_initializer())

INFO:tensorflow:Scale of 0 disables regularizer.

In [151]:
tr_data.shape

(4037, 445, 18)

20220420_085927
20220427_091421
4_flagging.py
AUC_ROC_FINAL_Trey.ipynb
boxhed_MIMIC_Full_TREWScore_CV_Sliding_Window.ipynb
class_DeepLongitudinal.py
data
DD_pred_val_5day_Tmax120.npy
DD_risk_all_val_5day_Tmax120.npy
get_main_CF.py
import_data.py
import_mimic.py
main.py
notes.txt
old
OLD-ddh-packages.txt
old_requirements.txt
PBC2
PBC22022-04-17T19:34:03.619733
PBC22022-04-17T20:06:51.445516
PBC22022-04-17T20:46:42.447952
pt_class_DeepLongitudinal.py
__pycache__
README.md
sample.py
sandbox.ipynb
todo.txt
tutorial.ipynb
tutorial_mimic_5Day.ipynb
tutorial.py
utils_eval.py
utils_helper.py
utils_log.py
utils_network.py
_utils.py

In [ ]:
PRINT_ITER = 1000
start = time.time()
### TRAINING - BURN-IN
if burn_in_mode == 'ON':
    print( "BURN-IN TRAINING ...")
    for itr in range(iteration_burn_in):
        x_mb, x_mi_mb, k_mb, t_mb, m1_mb, m2_mb, m3_mb = f_get_minibatch(mb_size, tr_data, tr_data_mi, tr_label, tr_time, tr_mask1, tr_mask2, tr_mask3)
        DATA = (x_mb, k_mb, t_mb)
        MISSING = (x_mi_mb)

        _, loss_curr = model.train_burn_in(DATA, MISSING, keep_prob, lr_train)

        if (itr+1)%PRINT_ITER == 0:
            print('itr: {:04d} | loss: {:.4f}'.format(itr+1, loss_curr))


### TRAINING - MAIN
print( "MAIN TRAINING ...")
min_valid = 0.5


for itr in range(iteration):
    x_mb, x_mi_mb, k_mb, t_mb, m1_mb, m2_mb, m3_mb = f_get_minibatch(mb_size, tr_data, tr_data_mi, tr_label, tr_time, tr_mask1, tr_mask2, tr_mask3)
    DATA = (x_mb, k_mb, t_mb)
    MASK = (m1_mb, m2_mb, m3_mb)
    MISSING = (x_mi_mb)
    PARAMETERS = (alpha, beta, gamma)

    _, loss_curr = model.train(DATA, MASK, MISSING, PARAMETERS, keep_prob, lr_train)

    if (itr+1)%PRINT_ITER == 0:
        print('itr: {:04d} | loss: {:.4f}'.format(itr+1, loss_curr))

    ### VALIDATION  (based on average C-index of our interest)
    if (itr+1)%PRINT_ITER == 0:        
        pred, risk_all = f_get_risk_predictions(sess, model, va_data, va_data_mi, pred_time, eval_time)
        
        for p, p_time in enumerate(pred_time):
            pred_horizon = int(p_time)
            val_result1 = np.zeros([num_Event, len(eval_time)])
            
            for t, t_time in enumerate(eval_time):                
                eval_horizon = int(t_time) + pred_horizon
                for k in range(num_Event):
                    val_result1[k, t] = c_index(risk_all[k][:, p, t], va_time, (va_label[:,0] == k+1).astype(int), eval_horizon) #-1 for no event (not comparable)
            
            if p == 0:
                val_final1 = val_result1
            else:
                val_final1 = np.append(val_final1, val_result1, axis=0)

        tmp_valid = np.mean(val_final1)
        print('val_loss: {:.4f}'.format(tmp_valid))

        if tmp_valid >  min_valid:
            # min_valid = tmp_valid
            saver.save(sess, file_path + '/model')
            print( 'updated.... average c-index = ' + str('%.4f' %(tmp_valid)))
        
end = time.time()
print('Elapsed Time= ', end - start)

print("================================")
print("         END OF TRAIN           ")
print("================================")

INFO:tensorflow:Scale of 0 disables regularizer.
BURN-IN TRAINING ...

OMP: Info #250: KMP_AFFINITY: pid 813035 tid 816612 thread 1 bound to OS proc set 1
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817159 thread 2 bound to OS proc set 2
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817160 thread 3 bound to OS proc set 3
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817161 thread 4 bound to OS proc set 4
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817162 thread 5 bound to OS proc set 5
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817163 thread 6 bound to OS proc set 6
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817164 thread 7 bound to OS proc set 7
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817165 thread 8 bound to OS proc set 8
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817166 thread 9 bound to OS proc set 9
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817167 thread 10 bound to OS proc set 10
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817168 thread 11 bound to OS proc set 11
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817169 thread 12 bound to OS proc set 12
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817170 thread 13 bound to OS proc set 13
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817171 thread 14 bound to OS proc set 14
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817172 thread 15 bound to OS proc set 15
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817173 thread 16 bound to OS proc set 16
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817174 thread 17 bound to OS proc set 17
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817175 thread 18 bound to OS proc set 18
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817176 thread 19 bound to OS proc set 19
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817177 thread 20 bound to OS proc set 20
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817178 thread 21 bound to OS proc set 21
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817179 thread 22 bound to OS proc set 22
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817180 thread 23 bound to OS proc set 23
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817181 thread 24 bound to OS proc set 24
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817182 thread 25 bound to OS proc set 25
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817183 thread 26 bound to OS proc set 26
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817184 thread 27 bound to OS proc set 27
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817185 thread 28 bound to OS proc set 28
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817186 thread 29 bound to OS proc set 29
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817187 thread 30 bound to OS proc set 30
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817188 thread 31 bound to OS proc set 31
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817189 thread 32 bound to OS proc set 32
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817192 thread 35 bound to OS proc set 35
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817193 thread 36 bound to OS proc set 36
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817190 thread 33 bound to OS proc set 33
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817194 thread 37 bound to OS proc set 37
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817195 thread 38 bound to OS proc set 38
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817196 thread 39 bound to OS proc set 39
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817197 thread 40 bound to OS proc set 40
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817199 thread 42 bound to OS proc set 42
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817198 thread 41 bound to OS proc set 41
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817200 thread 43 bound to OS proc set 43
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817201 thread 44 bound to OS proc set 44
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817202 thread 45 bound to OS proc set 45
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817203 thread 46 bound to OS proc set 46
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817204 thread 47 bound to OS proc set 47
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817205 thread 48 bound to OS proc set 0
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817191 thread 34 bound to OS proc set 34
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 816611 thread 49 bound to OS proc set 1
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817206 thread 50 bound to OS proc set 2
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817207 thread 51 bound to OS proc set 3
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817208 thread 52 bound to OS proc set 4
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817209 thread 53 bound to OS proc set 5
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817210 thread 54 bound to OS proc set 6
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817211 thread 55 bound to OS proc set 7
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817213 thread 57 bound to OS proc set 9
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817214 thread 58 bound to OS proc set 10
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817215 thread 59 bound to OS proc set 11
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817212 thread 56 bound to OS proc set 8
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817216 thread 60 bound to OS proc set 12
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817217 thread 61 bound to OS proc set 13
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817218 thread 62 bound to OS proc set 14
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817220 thread 64 bound to OS proc set 16
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817219 thread 63 bound to OS proc set 15
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817221 thread 65 bound to OS proc set 17
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817223 thread 67 bound to OS proc set 19
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817224 thread 68 bound to OS proc set 20
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817222 thread 66 bound to OS proc set 18
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817225 thread 69 bound to OS proc set 21
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817226 thread 70 bound to OS proc set 22
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817227 thread 71 bound to OS proc set 23
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817228 thread 72 bound to OS proc set 24
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817229 thread 73 bound to OS proc set 25
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817230 thread 74 bound to OS proc set 26
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817231 thread 75 bound to OS proc set 27
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817232 thread 76 bound to OS proc set 28
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817233 thread 77 bound to OS proc set 29
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817234 thread 78 bound to OS proc set 30
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817235 thread 79 bound to OS proc set 31
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817236 thread 80 bound to OS proc set 32
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817237 thread 81 bound to OS proc set 33
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817238 thread 82 bound to OS proc set 34
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817240 thread 84 bound to OS proc set 36
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817241 thread 85 bound to OS proc set 37
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817239 thread 83 bound to OS proc set 35
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817242 thread 86 bound to OS proc set 38
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817244 thread 88 bound to OS proc set 40
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817243 thread 87 bound to OS proc set 39
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817245 thread 89 bound to OS proc set 41
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817246 thread 90 bound to OS proc set 42
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817247 thread 91 bound to OS proc set 43
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817248 thread 92 bound to OS proc set 44
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817249 thread 93 bound to OS proc set 45
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817250 thread 94 bound to OS proc set 46
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817251 thread 95 bound to OS proc set 47
OMP: Info #250: KMP_AFFINITY: pid 813035 tid 817252 thread 96 bound to OS proc set 0

In [173]:
end = 5.5
start = 0.12
"time: " + str(end-start)

'time: 5.38'

In [93]:
from datetime import date, datetime
datetime.now().strftime("%Y%m%d_%H%M%S")

'20220420_084940'

In [14]:
with open('DD_pred_val_5day_Tmax120.npy', 'wb') as f:
    np.save(f, pred)

In [15]:
with open('DD_risk_all_val_5day_Tmax120.npy', 'wb') as f:
    np.save(f, risk_all)

In [17]:
with open('DD_pred_val_5day_Tmax120.npy', 'rb') as f:
    temp1 = np.load(f)

In [ ]:
# We have pred and risk_all
temp1.shape

### 5. Test the Trained Network

In [174]:
file_path

'20220427_091421'

In [175]:
file_path = 'PBC2'

In [176]:

pred_time = [5 * 24]
eval_time = [1, 2, 3, 4, 5, 6]
saver.restore(sess, file_path + '/model')


pred_test, risk_all = f_get_risk_predictions(sess, model, te_data, te_data_mi, pred_time, eval_time)

for p, p_time in enumerate(pred_time):
    pred_horizon = int(p_time)
    result1, result2 = np.zeros([num_Event, len(eval_time)]), np.zeros([num_Event, len(eval_time)])

    for t, t_time in enumerate(eval_time):                
        eval_horizon = int(t_time) + pred_horizon
        for k in range(num_Event):
            result1[k, t] = c_index(risk_all[k][:, p, t], te_time, (te_label[:,0] == k+1).astype(int), eval_horizon) #-1 for no event (not comparable)
            result2[k, t] = brier_score(risk_all[k][:, p, t], te_time, (te_label[:,0] == k+1).astype(int), eval_horizon) #-1 for no event (not comparable)
    
    if p == 0:
        final1, final2 = result1, result2
    else:
        final1, final2 = np.append(final1, result1, axis=0), np.append(final2, result2, axis=0)
        
        
row_header = []
for p_time in pred_time:
    for t in range(num_Event):
        row_header.append('pred_time {}: event_{}'.format(p_time,k+1))
            
col_header = []
for t_time in eval_time:
    col_header.append('eval_time {}'.format(t_time))

# c-index result
df1 = pd.DataFrame(final1, index = row_header, columns=col_header)

# brier-score result
df2 = pd.DataFrame(final2, index = row_header, columns=col_header)

### PRINT RESULTS
print('========================================================')
print('--------------------------------------------------------')
print('- C-INDEX: ')
print(df1)
print('--------------------------------------------------------')

print('- BRIER-SCORE: ')
print(df2)
print('========================================================')

INFO:tensorflow:Restoring parameters from PBC2/model
Pred ==============================================
[[[0.01563262 0.01541429 0.01378932 ... 0.00513091 0.00712188 0.00735835]]

 [[0.02222462 0.0223603  0.01797179 ... 0.00337099 0.00593554 0.0058005 ]]

 [[0.03116917 0.03214696 0.02267849 ... 0.00186631 0.00436422 0.00399641]]

 ...

 [[0.01243486 0.0121342  0.01152251 ... 0.00629858 0.00765254 0.00815008]]

 [[0.0153534  0.01512579 0.01360126 ... 0.00522416 0.00717543 0.00742598]]

 [[0.04741859 0.05115076 0.02853565 ... 0.00053141 0.00207579 0.00169005]]]
========================================================
--------------------------------------------------------
- C-INDEX:
                        eval_time 1  eval_time 2  eval_time 3  eval_time 4  \
pred_time 120: event_1          0.0          0.0          0.0          0.0

                        eval_time 5  eval_time 6
pred_time 120: event_1          0.0          0.0
--------------------------------------------------------
- BRIER-SCORE:
                        eval_time 1  eval_time 2  eval_time 3  eval_time 4  \
pred_time 120: event_1     0.058637     0.058637     0.058637     0.058637

                        eval_time 5  eval_time 6
pred_time 120: event_1     0.058637     0.058637
========================================================

In [179]:
tr_data.shape, tr_data_mi.shape

((4037, 445, 18), (4037, 445, 18))

In [29]:
te_data.shape, te_data_mi.shape

((1262, 445, 18), (1262, 445, 18))

## Prediction

In [182]:
preds_train = model.predict(tr_data, tr_data_mi)

In [183]:
preds_train.shape

(4037, 1, 120)

In [184]:
# preds_val = 
preds_val = model.predict(va_data, va_data_mi)
preds_test = model.predict(te_data, te_data_mi)

preds_val.shape, preds_test.shape

((1010, 1, 120), (1262, 1, 120))

## Build flag dataset

* ep_ids: Length of 5000, but should only have 50 unique values for each patient.
* deltas: Length of 5000, but should have less than 50 values of 1 bc not every patient will have experienced the event.
* Y: 5000 all 1's
* hzrds: length of 5000

In [119]:
arr = []
for_flagging = pd.DataFrame()

In [115]:
preds_test = preds_test.reshape(1262, 120)
preds_test.shape

(1262, 120)

In [284]:
preds_test[-1]

array([[4.74185869e-02, 5.11507578e-02, 2.85356529e-02, 4.94656302e-02,
        1.18266642e-02, 5.62251285e-02, 7.60919154e-02, 4.70779873e-02,
        2.83700787e-02, 2.02239342e-02, 3.84919643e-02, 5.90230003e-02,
        3.49877514e-02, 1.63850021e-02, 9.40092839e-03, 1.89928189e-02,
        1.24453669e-02, 2.80708224e-02, 1.41971111e-02, 1.75902918e-02,
        5.74528845e-03, 1.64338909e-02, 1.72734875e-02, 8.49860720e-03,
        6.59849914e-03, 5.72214182e-03, 1.18650254e-02, 4.21600509e-03,
        7.65543664e-03, 5.63673628e-03, 3.07314238e-03, 1.13037638e-02,
        3.96570656e-03, 2.92197522e-03, 2.60574231e-03, 6.45308057e-04,
        9.24878102e-03, 1.97491003e-03, 1.11353013e-03, 1.45348930e-03,
        1.95527100e-03, 9.19480901e-03, 1.71024425e-04, 6.02528127e-03,
        1.22825950e-02, 4.65025101e-03, 8.28730501e-03, 1.19715706e-02,
        1.24806678e-03, 5.64308325e-03, 1.32221393e-02, 1.80227426e-03,
        1.97636167e-04, 9.06530360e-04, 9.90373373e-05, 1.26942919e-04,
        1.24193946e-04, 4.38819127e-03, 2.28765959e-04, 2.83135567e-03,
        2.60498514e-03, 7.07828533e-03, 8.77278741e-04, 1.54772494e-03,
        1.29595422e-03, 5.65329287e-03, 2.73465086e-03, 3.38198128e-03,
        2.43943301e-03, 7.37182517e-03, 2.84068007e-03, 9.39387421e-04,
        5.57880569e-03, 3.75816086e-03, 2.88691209e-03, 4.06665588e-03,
        4.24089003e-03, 4.64160781e-04, 3.11245443e-04, 1.27344509e-04,
        5.75588690e-03, 5.02278004e-03, 2.57720449e-03, 1.77639551e-04,
        6.32699346e-04, 5.23491995e-03, 2.14327034e-03, 1.54291833e-04,
        1.33264612e-03, 9.75033094e-04, 4.06074943e-03, 4.42100549e-03,
        1.02214355e-04, 2.05665361e-03, 6.10821531e-04, 4.85376542e-04,
        9.52819420e-04, 8.12680228e-04, 1.81083323e-03, 1.08072374e-04,
        1.45966746e-03, 1.40519696e-04, 1.33670837e-04, 9.30033100e-04,
        2.50671851e-03, 1.61973890e-04, 5.41498070e-04, 2.93546426e-03,
        1.07958703e-03, 4.41469194e-04, 1.70178816e-03, 2.71338649e-04,
        2.18535482e-04, 6.70038746e-04, 1.29181179e-04, 2.70588091e-03,
        7.69036240e-04, 5.31411846e-04, 2.07579113e-03, 1.69005187e-03]],
      dtype=float32)

In [283]:
for_flagging

            id    hazard  label  Y
0          0.0  0.015633    0.0  1
1          0.0  0.015414    0.0  1
2          0.0  0.013789    0.0  1
3          0.0  0.015937    0.0  1
4          0.0  0.010537    0.0  1
...        ...       ...    ... ..
151435  1261.0  0.002706    0.0  1
151436  1261.0  0.000769    0.0  1
151437  1261.0  0.000531    0.0  1
151438  1261.0  0.002076    0.0  1
151439  1261.0  0.001690    0.0  1

[151440 rows x 4 columns]

In [124]:
np.repeat(2, 120)

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [125]:
arr = np.array([])
for i in range(1262):
    new = np.repeat(i, 120)
    arr = np.concatenate((arr, new), axis=None)

In [133]:
te_label.shape

(1262, 1)

In [131]:
for_flagging['id'] = arr
for_flagging['hazard'] = preds_test.reshape(1262*120)
for_flagging

            id    hazard
0          0.0  0.015633
1          0.0  0.015414
2          0.0  0.013789
3          0.0  0.015937
4          0.0  0.010537
...        ...       ...
151435  1261.0  0.002706
151436  1261.0  0.000769
151437  1261.0  0.000531
151438  1261.0  0.002076
151439  1261.0  0.001690

[151440 rows x 2 columns]

In [136]:
# for i in te_label:
#     print(i)
#     return

arr = np.array([])
for i in range(1262):
    new = np.repeat(i, 120)
    arr = np.concatenate((arr, new), axis=None)

(1262, 1)

In [206]:
te_label.shape

(1262, 1)

In [205]:
te_label.reshape(1262).shape

(1262,)

In [137]:
l_arr = np.array([])
for i in te_label:
    new = np.repeat(i, 120)
    l_arr = np.concatenate((l_arr, new), axis=None)
l_arr.shape

(151440,)

In [143]:
for_flagging['label'] = l_arr
for_flagging

            id    hazard  label
0          0.0  0.015633    0.0
1          0.0  0.015414    0.0
2          0.0  0.013789    0.0
3          0.0  0.015937    0.0
4          0.0  0.010537    0.0
...        ...       ...    ...
151435  1261.0  0.002706    1.0
151436  1261.0  0.000769    1.0
151437  1261.0  0.000531    1.0
151438  1261.0  0.002076    1.0
151439  1261.0  0.001690    1.0

[151440 rows x 3 columns]

In [211]:
te_time

array([[120.      ],
       [ 47.436667],
       [ 47.033611],
       ...,
       [ 82.418611],
       [ 53.641667],
       [ 76.731944]])

In [214]:
te_label

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [1.]])

In [232]:
te_time_ceil = np.ceil(te_time.reshape(te_time.shape[0])).astype(int)

In [233]:
te_time_ceil

array([120,  48,  48, ...,  83,  54,  77])

In [235]:
curr = np.repeat(0, 120)
curr[te_time_ceil[0]] = 1
curr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

In [258]:
l_array = np.array([]).astype(int)
l_array = np.concatenate([l_array, np.repeat(0, 120)])
l_array

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [260]:
te_label

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [1.]])

In [289]:
te_time_ceil

array([120,  48,  48, ...,  83,  54,  77])

In [296]:
tr_label.sum(), tr_label.shape

(255.0, (4037, 1))

In [299]:
tr_label.mean() * 100, va_label.mean() * 100, te_label.mean() * 100

(6.31657171166708, 7.524752475247524, 5.863708399366086)

In [294]:
te_label.sum(), te_label.shape

(74.0, (1262, 1))

In [295]:
va_label.sum(), va_label.shape

(76.0, (1010, 1))

In [261]:
l_array = np.array([]) 
for i, label in enumerate(te_label.reshape(te_label.shape[0])):
    print(i, label)
    if label == 0:
        l_array = np.concatenate([l_array, np.repeat(0, 120)])
    else:
        curr = np.repeat(0, 120)
        curr[te_time_ceil[i]] = 1
        l_array = np.concatenate([l_array, curr])

0 0.0
1 0.0
2 0.0
3 0.0
4 0.0
5 0.0
6 0.0
7 0.0
8 0.0
9 0.0
10 0.0
11 0.0
12 0.0
13 0.0
14 0.0
15 0.0
16 0.0
17 0.0
18 0.0
19 0.0
20 0.0
21 0.0
22 0.0
23 1.0
24 0.0
25 0.0
26 0.0
27 0.0
28 1.0
29 0.0
30 0.0
31 0.0
32 0.0
33 0.0
34 0.0
35 0.0
36 0.0
37 0.0
38 0.0
39 0.0
40 0.0
41 0.0
42 0.0
43 0.0
44 0.0
45 0.0
46 0.0
47 0.0
48 0.0
49 0.0
50 0.0
51 0.0
52 0.0
53 0.0
54 0.0
55 0.0
56 0.0
57 0.0
58 0.0
59 0.0
60 0.0
61 0.0
62 0.0
63 0.0
64 0.0
65 0.0
66 0.0
67 0.0
68 0.0
69 0.0
70 0.0
71 0.0
72 0.0
73 0.0
74 0.0
75 0.0
76 0.0
77 0.0
78 0.0
79 0.0
80 0.0
81 0.0
82 0.0
83 1.0
84 0.0
85 0.0
86 0.0
87 0.0
88 0.0
89 0.0
90 0.0
91 0.0
92 0.0
93 0.0
94 0.0
95 0.0
96 0.0
97 0.0
98 0.0
99 0.0
100 0.0
101 0.0
102 0.0
103 0.0
104 0.0
105 0.0
106 0.0
107 0.0
108 0.0
109 0.0
110 0.0
111 0.0
112 0.0
113 0.0
114 1.0
115 0.0
116 0.0
117 0.0
118 0.0
119 0.0
120 0.0
121 0.0
122 0.0
123 0.0
124 0.0
125 0.0
126 0.0
127 0.0
128 0.0
129 1.0
130 1.0
131 0.0
132 0.0
133 0.0
134 0.0
135 0.0
136 0.0
137 0.0
138 0.0
139 0.0
140 0.0
141 0.0
142 0.0
143 0.0
144 0.0
145 0.0
146 0.0
147 0.0
148 0.0
149 0.0
150 0.0
151 0.0
152 0.0
153 0.0
154 0.0
155 0.0
156 0.0
157 0.0
158 0.0
159 0.0
160 0.0
161 0.0
162 0.0
163 0.0
164 0.0
165 0.0
166 0.0
167 1.0
168 0.0
169 0.0
170 1.0
171 0.0
172 0.0
173 0.0
174 0.0
175 0.0
176 0.0
177 0.0
178 0.0
179 0.0
180 0.0
181 0.0
182 0.0
183 0.0
184 1.0
185 0.0
186 0.0
187 0.0
188 0.0
189 0.0
190 0.0
191 0.0
192 0.0
193 0.0
194 0.0
195 0.0
196 0.0
197 0.0
198 1.0
199 0.0
200 0.0
201 0.0
202 0.0
203 0.0
204 0.0
205 0.0
206 1.0
207 0.0
208 0.0
209 0.0
210 0.0
211 0.0
212 0.0
213 0.0
214 0.0
215 0.0
216 0.0
217 0.0
218 0.0
219 0.0
220 0.0
221 0.0
222 0.0
223 0.0
224 0.0
225 1.0
226 0.0
227 0.0
228 0.0
229 0.0
230 0.0
231 0.0
232 0.0
233 0.0
234 0.0
235 0.0
236 0.0
237 0.0
238 0.0
239 0.0
240 0.0
241 0.0
242 1.0
243 0.0
244 0.0
245 1.0
246 0.0
247 0.0
248 0.0
249 0.0
250 0.0
251 0.0
252 0.0
253 0.0
254 0.0
255 0.0
256 0.0
257 0.0
258 0.0
259 0.0
260 0.0
261 0.0
262 0.0
263 0.0
264 0.0
265 0.0
266 1.0
267 1.0
268 0.0
269 0.0
270 0.0
271 0.0
272 0.0
273 0.0
274 0.0
275 0.0
276 0.0
277 0.0
278 0.0
279 0.0
280 0.0
281 0.0
282 0.0
283 0.0
284 1.0
285 0.0
286 0.0
287 0.0
288 0.0
289 0.0
290 0.0
291 1.0
292 0.0
293 0.0
294 0.0
295 1.0
296 0.0
297 0.0
298 0.0
299 0.0
300 0.0
301 0.0
302 0.0
303 0.0
304 0.0
305 0.0
306 0.0
307 0.0
308 0.0
309 0.0
310 0.0
311 0.0
312 0.0
313 0.0
314 0.0
315 0.0
316 0.0
317 0.0
318 0.0
319 0.0
320 0.0
321 0.0
322 0.0
323 0.0
324 0.0
325 1.0
326 0.0
327 0.0
328 0.0
329 0.0
330 0.0
331 0.0
332 0.0
333 0.0
334 0.0
335 0.0
336 1.0
337 1.0
338 0.0
339 0.0
340 0.0
341 0.0
342 0.0
343 0.0
344 0.0
345 0.0
346 0.0
347 0.0
348 0.0
349 0.0
350 0.0
351 0.0
352 0.0
353 0.0
354 0.0
355 0.0
356 0.0
357 0.0
358 0.0
359 0.0
360 0.0
361 0.0
362 0.0
363 0.0
364 0.0
365 1.0
366 0.0
367 0.0
368 0.0
369 1.0
370 0.0
371 1.0
372 0.0
373 0.0
374 0.0
375 0.0
376 1.0
377 0.0
378 0.0
379 0.0
380 0.0
381 0.0
382 0.0
383 0.0
384 0.0
385 0.0
386 0.0
387 0.0
388 0.0
389 0.0
390 0.0
391 0.0
392 0.0
393 0.0
394 0.0
395 0.0
396 1.0
397 0.0
398 0.0
399 0.0
400 0.0
401 0.0
402 0.0
403 0.0
404 0.0
405 0.0
406 0.0
407 0.0
408 0.0
409 0.0
410 0.0
411 0.0
412 0.0
413 0.0
414 0.0
415 0.0
416 0.0
417 0.0
418 0.0
419 0.0
420 0.0
421 1.0
422 0.0
423 0.0
424 0.0
425 0.0
426 0.0
427 0.0
428 0.0
429 1.0
430 0.0
431 1.0
432 0.0
433 0.0
434 0.0
435 0.0
436 0.0
437 0.0
438 0.0
439 0.0
440 0.0
441 0.0
442 0.0
443 0.0
444 0.0
445 0.0
446 0.0
447 0.0
448 0.0
449 0.0
450 0.0
451 0.0
452 0.0
453 0.0
454 0.0
455 0.0
456 0.0
457 0.0
458 0.0
459 0.0
460 0.0
461 0.0
462 0.0
463 0.0
464 0.0
465 0.0
466 0.0
467 0.0
468 0.0
469 0.0
470 0.0
471 0.0
472 0.0
473 0.0
474 0.0
475 0.0
476 0.0
477 1.0
478 0.0
479 0.0
480 0.0
481 0.0
482 0.0
483 0.0
484 0.0
485 0.0
486 0.0
487 0.0
488 0.0
489 0.0
490 0.0
491 0.0
492 0.0
493 0.0
494 0.0
495 0.0
496 0.0
497 0.0
498 0.0
499 0.0
500 0.0
501 0.0
502 0.0
503 0.0
504 0.0
505 0.0
506 0.0
507 0.0
508 0.0
509 0.0
510 0.0
511 0.0
512 0.0
513 0.0
514 0.0
515 0.0
516 0.0
517 0.0
518 0.0
519 0.0
520 0.0
521 0.0
522 0.0
523 0.0
524 0.0
525 0.0
526 0.0
527 0.0
528 0.0
529 0.0
530 0.0
531 0.0
532 0.0
533 0.0
534 0.0
535 0.0
536 1.0
537 1.0
538 0.0
539 0.0
540 0.0
541 0.0
542 0.0
543 0.0
544 0.0
545 0.0
546 0.0
547 0.0
548 0.0
549 0.0
550 0.0
551 0.0
552 0.0
553 0.0
554 0.0
555 0.0
556 1.0
557 1.0
558 0.0
559 0.0
560 0.0
561 0.0
562 0.0
563 0.0
564 0.0
565 0.0
566 0.0
567 0.0
568 0.0
569 0.0
570 0.0
571 0.0
572 0.0
573 0.0
574 0.0
575 0.0
576 0.0
577 0.0
578 0.0
579 1.0
580 0.0
581 0.0
582 0.0
583 0.0
584 0.0
585 0.0
586 0.0
587 0.0
588 0.0
589 0.0
590 0.0
591 0.0
592 0.0
593 1.0
594 0.0
595 0.0
596 0.0
597 1.0
598 0.0
599 0.0
600 0.0
601 0.0
602 0.0
603 0.0
604 0.0
605 0.0
606 0.0
607 0.0
608 0.0
609 0.0
610 0.0
611 0.0
612 0.0
613 0.0
614 0.0
615 0.0
616 0.0
617 0.0
618 0.0
619 0.0
620 0.0
621 0.0
622 0.0
623 0.0
624 0.0
625 0.0
626 0.0
627 0.0
628 0.0
629 0.0
630 0.0
631 0.0
632 0.0
633 0.0
634 0.0
635 0.0
636 0.0
637 0.0
638 0.0
639 0.0
640 0.0
641 0.0
642 0.0
643 0.0
644 0.0
645 0.0
646 0.0
647 0.0
648 0.0
649 0.0
650 0.0
651 0.0
652 0.0
653 0.0
654 0.0
655 0.0
656 0.0
657 0.0
658 0.0
659 0.0
660 0.0
661 1.0
662 0.0
663 0.0
664 0.0
665 0.0
666 0.0
667 0.0
668 0.0
669 0.0
670 0.0
671 0.0
672 0.0
673 0.0
674 0.0
675 0.0
676 0.0
677 0.0
678 0.0
679 0.0
680 0.0
681 0.0
682 0.0
683 0.0
684 0.0
685 0.0
686 0.0
687 0.0
688 0.0
689 0.0
690 0.0
691 0.0
692 0.0
693 0.0
694 0.0
695 0.0
696 0.0
697 0.0
698 0.0
699 0.0
700 0.0
701 0.0
702 0.0
703 1.0
704 0.0
705 0.0
706 0.0
707 0.0
708 0.0
709 0.0
710 0.0
711 0.0
712 0.0
713 0.0
714 0.0
715 0.0
716 0.0
717 0.0
718 0.0
719 0.0
720 0.0
721 0.0
722 0.0
723 0.0
724 0.0
725 0.0
726 0.0
727 0.0
728 0.0
729 0.0
730 0.0
731 0.0
732 0.0
733 0.0
734 0.0
735 0.0
736 0.0
737 0.0
738 0.0
739 0.0
740 0.0
741 0.0
742 0.0
743 0.0
744 0.0
745 0.0
746 0.0
747 0.0
748 0.0
749 0.0
750 0.0
751 0.0
752 0.0
753 0.0
754 0.0
755 0.0
756 0.0
757 0.0
758 1.0
759 0.0
760 0.0
761 0.0
762 0.0
763 0.0
764 0.0
765 0.0
766 1.0
767 0.0
768 0.0
769 0.0
770 0.0
771 0.0
772 0.0
773 1.0
774 0.0
775 0.0
776 0.0
777 0.0
778 0.0
779 1.0
780 0.0
781 0.0
782 1.0
783 0.0
784 0.0
785 0.0
786 0.0
787 0.0
788 0.0
789 0.0
790 0.0
791 0.0
792 0.0
793 0.0
794 0.0
795 0.0
796 0.0
797 0.0
798 0.0
799 0.0
800 0.0
801 0.0
802 0.0
803 0.0
804 0.0
805 0.0
806 0.0
807 0.0
808 0.0
809 0.0
810 0.0
811 1.0
812 0.0
813 0.0
814 0.0
815 1.0
816 0.0
817 0.0
818 0.0
819 0.0
820 0.0
821 0.0
822 1.0
823 0.0
824 0.0
825 0.0
826 0.0
827 0.0
828 0.0
829 0.0
830 0.0
831 0.0
832 0.0
833 1.0
834 0.0
835 0.0
836 0.0
837 0.0
838 0.0
839 0.0
840 0.0
841 0.0
842 0.0
843 0.0
844 0.0
845 0.0
846 0.0
847 0.0
848 0.0
849 0.0
850 1.0
851 0.0
852 0.0
853 0.0
854 0.0
855 0.0
856 0.0
857 0.0
858 0.0
859 0.0
860 0.0
861 0.0
862 0.0
863 0.0
864 0.0
865 0.0
866 0.0
867 0.0
868 0.0
869 0.0
870 1.0
871 0.0
872 0.0
873 0.0
874 0.0
875 1.0
876 0.0
877 0.0
878 0.0
879 0.0
880 0.0
881 0.0
882 0.0
883 0.0
884 0.0
885 0.0
886 0.0
887 0.0
888 0.0
889 0.0
890 0.0
891 0.0
892 0.0
893 0.0
894 0.0
895 0.0
896 0.0
897 1.0
898 0.0
899 0.0
900 0.0
901 0.0
902 0.0
903 0.0
904 0.0
905 0.0
906 0.0
907 0.0
908 0.0
909 0.0
910 0.0
911 1.0
912 1.0
913 0.0
914 1.0
915 0.0
916 0.0
917 0.0
918 0.0
919 0.0
920 0.0
921 0.0
922 0.0
923 0.0
924 0.0
925 0.0
926 0.0
927 1.0
928 0.0
929 0.0
930 0.0
931 0.0
932 0.0
933 0.0
934 0.0
935 0.0
936 0.0
937 0.0
938 0.0
939 0.0
940 0.0
941 0.0
942 0.0
943 0.0
944 0.0
945 0.0
946 0.0
947 0.0
948 0.0
949 0.0
950 0.0
951 0.0
952 0.0
953 0.0
954 0.0
955 0.0
956 0.0
957 0.0
958 0.0
959 0.0
960 0.0
961 0.0
962 0.0
963 0.0
964 0.0
965 0.0
966 0.0
967 0.0
968 0.0
969 0.0
970 0.0
971 0.0
972 0.0
973 0.0
974 0.0
975 0.0
976 1.0
977 0.0
978 0.0
979 0.0
980 0.0
981 0.0
982 0.0
983 0.0
984 1.0
985 0.0
986 0.0
987 0.0
988 0.0
989 0.0
990 0.0
991 0.0
992 0.0
993 0.0
994 0.0
995 0.0
996 0.0
997 0.0
998 0.0
999 0.0
1000 0.0
1001 0.0
1002 0.0
1003 0.0
1004 0.0
1005 0.0
1006 0.0
1007 0.0
1008 0.0
1009 0.0
1010 0.0
1011 0.0
1012 0.0
1013 0.0
1014 0.0
1015 1.0
1016 0.0
1017 0.0
1018 0.0
1019 0.0
1020 0.0
1021 0.0
1022 0.0
1023 0.0
1024 0.0
1025 0.0
1026 0.0
1027 0.0
1028 0.0
1029 0.0
1030 0.0
1031 0.0
1032 0.0
1033 0.0
1034 0.0
1035 0.0
1036 0.0
1037 0.0
1038 0.0
1039 0.0
1040 0.0
1041 0.0
1042 0.0
1043 0.0
1044 0.0
1045 1.0
1046 0.0
1047 0.0
1048 0.0
1049 1.0
1050 0.0
1051 0.0
1052 0.0
1053 0.0
1054 0.0
1055 0.0
1056 0.0
1057 0.0
1058 0.0
1059 0.0
1060 1.0
1061 0.0
1062 0.0
1063 1.0
1064 0.0
1065 0.0
1066 1.0
1067 0.0
1068 0.0
1069 1.0
1070 0.0
1071 0.0
1072 0.0
1073 0.0
1074 0.0
1075 0.0
1076 0.0
1077 0.0
1078 0.0
1079 0.0
1080 0.0
1081 0.0
1082 0.0
1083 0.0
1084 0.0
1085 0.0
1086 0.0
1087 0.0
1088 0.0
1089 0.0
1090 0.0
1091 0.0
1092 0.0
1093 0.0
1094 0.0
1095 0.0
1096 0.0
1097 0.0
1098 0.0
1099 0.0
1100 0.0
1101 0.0
1102 1.0
1103 0.0
1104 0.0
1105 0.0
1106 0.0
1107 0.0
1108 0.0
1109 0.0
1110 0.0
1111 1.0
1112 0.0
1113 0.0
1114 0.0
1115 0.0
1116 0.0
1117 0.0
1118 0.0
1119 0.0
1120 0.0
1121 0.0
1122 0.0
1123 0.0
1124 0.0
1125 0.0
1126 0.0
1127 0.0
1128 0.0
1129 0.0
1130 0.0
1131 0.0
1132 0.0
1133 0.0
1134 0.0
1135 0.0
1136 0.0
1137 0.0
1138 0.0
1139 0.0
1140 0.0
1141 0.0
1142 0.0
1143 0.0
1144 0.0
1145 0.0
1146 0.0
1147 0.0
1148 0.0
1149 0.0
1150 0.0
1151 0.0
1152 0.0
1153 0.0
1154 0.0
1155 0.0
1156 0.0
1157 0.0
1158 0.0
1159 0.0
1160 0.0
1161 0.0
1162 0.0
1163 0.0
1164 0.0
1165 0.0
1166 0.0
1167 0.0
1168 0.0
1169 1.0
1170 0.0
1171 0.0
1172 0.0
1173 1.0
1174 0.0
1175 0.0
1176 0.0
1177 1.0
1178 0.0
1179 0.0
1180 1.0
1181 0.0
1182 0.0
1183 0.0
1184 0.0
1185 0.0
1186 0.0
1187 0.0
1188 0.0
1189 0.0
1190 0.0
1191 0.0
1192 0.0
1193 0.0
1194 0.0
1195 0.0
1196 0.0
1197 0.0
1198 0.0
1199 0.0
1200 0.0
1201 0.0
1202 0.0
1203 0.0
1204 0.0
1205 0.0
1206 0.0
1207 0.0
1208 0.0
1209 0.0
1210 1.0
1211 0.0
1212 0.0
1213 0.0
1214 0.0
1215 0.0
1216 0.0
1217 0.0
1218 0.0
1219 0.0
1220 0.0
1221 0.0
1222 0.0
1223 0.0
1224 0.0
1225 0.0
1226 0.0
1227 0.0
1228 0.0
1229 0.0
1230 0.0
1231 0.0
1232 0.0
1233 0.0
1234 0.0
1235 0.0
1236 0.0
1237 0.0
1238 0.0
1239 0.0
1240 0.0
1241 0.0
1242 0.0
1243 0.0
1244 0.0
1245 0.0
1246 0.0
1247 0.0
1248 0.0
1249 0.0
1250 0.0
1251 0.0
1252 0.0
1253 0.0
1254 0.0
1255 0.0
1256 0.0
1257 0.0
1258 0.0
1259 0.0
1260 0.0
1261 1.0

In [270]:
for_flagging['label'] = l_array
for_flagging

            id    hazard  label
0          0.0  0.015633    0.0
1          0.0  0.015414    0.0
2          0.0  0.013789    0.0
3          0.0  0.015937    0.0
4          0.0  0.010537    0.0
...        ...       ...    ...
151435  1261.0  0.002706    0.0
151436  1261.0  0.000769    0.0
151437  1261.0  0.000531    0.0
151438  1261.0  0.002076    0.0
151439  1261.0  0.001690    0.0

[151440 rows x 3 columns]

In [274]:
for_flagging['Y'] = np.repeat(1, for_flagging.shape[0])
for_flagging

            id    hazard  label  Y
0          0.0  0.015633    0.0  1
1          0.0  0.015414    0.0  1
2          0.0  0.013789    0.0  1
3          0.0  0.015937    0.0  1
4          0.0  0.010537    0.0  1
...        ...       ...    ... ..
151435  1261.0  0.002706    0.0  1
151436  1261.0  0.000769    0.0  1
151437  1261.0  0.000531    0.0  1
151438  1261.0  0.002076    0.0  1
151439  1261.0  0.001690    0.0  1

[151440 rows x 4 columns]

In [281]:
for_flagging.to_csv('for_flagging.csv', index=False)

In [279]:
for_flagging.id.values

array([   0.,    0.,    0., ..., 1261., 1261., 1261.])

In [280]:
from flagging import flag

flag(for_flagging['id'].values, for_flagging['label'].values, for_flagging['Y'].values, for_flagging['hazard'].values, 2)

 84%|            | 531/631 [00:00<00:00, 816.91it/s]
100%|| 631/631 [00:00<00:00, 850.74it/s]

TypeError: unsupported operand type(s) for |: 'dict' and 'dict'

In [120]:
# for i, row in enumerate(preds_test):
#     for j, cell in enumerate(row):
#         for_flagging.iloc[i*j + j, 0] = i

IndexError: single positional indexer is out-of-bounds

In [199]:
for_flagging

            id    hazard  label
0          0.0  0.015633    0.0
1          0.0  0.015414    0.0
2          0.0  0.013789    0.0
3          0.0  0.015937    0.0
4          0.0  0.010537    0.0
...        ...       ...    ...
151435  1261.0  0.002706    1.0
151436  1261.0  0.000769    1.0
151437  1261.0  0.000531    1.0
151438  1261.0  0.002076    1.0
151439  1261.0  0.001690    1.0

[151440 rows x 3 columns]

## Prediction - Other

In [83]:
preds_total = model.predict(data, data_mi)

In [85]:
preds_total.shape

(6309, 1, 120)

In [84]:
preds_total

array([[[0.00959601, 0.00926501, 0.00934851, ..., 0.00758365,
         0.00802149, 0.0088137 ]],

       [[0.01679892, 0.01664792, 0.01456643, ..., 0.00475689,
         0.00689238, 0.00705252]],

       [[0.01589489, 0.01569101, 0.01396801, ..., 0.00504519,
         0.00707251, 0.00728838]],

       ...,

       [[0.02102844, 0.02108788, 0.01724927, ..., 0.00363602,
         0.00614285, 0.00606709]],

       [[0.01385891, 0.01358891, 0.01255394, ..., 0.00574734,
         0.0074249 , 0.00779846]],

       [[0.0115911 , 0.0112757 , 0.01089281, ..., 0.00665276,
         0.00777734, 0.00835884]]], dtype=float32)

In [46]:
# Zhale's older stuff below

In [23]:
pred_test.shape

(6309, 1, 120)

In [27]:
pred_test_reshaped = pred_test.reshape(6309, 120)

In [29]:
pred_test_df = pd.DataFrame(pred_test_reshaped)

In [30]:
pred_test_df.to_csv('DD_pred_test_5day_Tmax120.csv', index = False)

In [26]:
with open('DD_pred_test_5day.npy', 'wb') as f:
    np.save(f, pred_test)

In [31]:
with open('DD_risk_all_test_5day_Tmax120.npy', 'wb') as f:
    np.save(f, risk_all)

In [28]:
risk_all[0].shape

(6309, 1, 6)

In [29]:
pred_test.shape

(6309, 1, 144)

In [18]:
pred_test[:10]

array([[[7.2067390e-17, 1.4920398e-12, 1.0000000e+00, 1.1679825e-10,
         2.1693908e-19, 4.0052980e-32]],

       [[7.5126031e-06, 9.9999213e-01, 4.0980569e-07, 7.4903677e-12,
         1.4688242e-11, 1.8345603e-09]],

       [[7.5126031e-06, 9.9999213e-01, 4.0980569e-07, 7.4903677e-12,
         1.4688242e-11, 1.8345603e-09]],

       [[7.5126031e-06, 9.9999213e-01, 4.0980569e-07, 7.4903677e-12,
         1.4688242e-11, 1.8345603e-09]],

       [[7.5126031e-06, 9.9999213e-01, 4.0980569e-07, 7.4903677e-12,
         1.4688242e-11, 1.8345603e-09]],

       [[7.5126031e-06, 9.9999213e-01, 4.0980569e-07, 7.4903677e-12,
         1.4688242e-11, 1.8345603e-09]],

       [[7.2067390e-17, 1.4920398e-12, 1.0000000e+00, 1.1679825e-10,
         2.1693908e-19, 4.0052980e-32]],

       [[7.2067390e-17, 1.4920398e-12, 1.0000000e+00, 1.1679825e-10,
         2.1693908e-19, 4.0052980e-32]],

       [[7.2067390e-17, 1.4920398e-12, 1.0000000e+00, 1.1679825e-10,
         2.1693908e-19, 4.0052980e-32]],

       [[7.5126031e-06, 9.9999213e-01, 4.0980569e-07, 7.4903677e-12,
         1.4688242e-11, 1.8345603e-09]]], dtype=float32)

In [23]:
data[21]

array([[1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.]])

In [17]:
pred_test_modified = pred_test.reshape(1000,6)
first = []
second = []
third = []
forth = []
fifth = []
sixth = []
for i in range(1000):
  first.append(pred_test_modified[i][0])
  second.append(pred_test_modified[i][1])
  third.append(pred_test_modified[i][2])
  forth.append(pred_test_modified[i][3])
  fifth.append(pred_test_modified[i][4])
  sixth.append(pred_test_modified[i][5])

In [142]:
#pred_time = 5

In [143]:
predictions_test5 = pd.DataFrame()
predictions_test5['o1'] = first
predictions_test5['o2'] = second
predictions_test5['o3'] = third
predictions_test5['o4'] = forth
predictions_test5['o5'] = fifth
predictions_test5['o6'] = sixth

In [144]:
predictions_test5[:10]

,o1,o2,o3,o4,o5,o6
0,3.936380e-09,1.638231e-09,4.353853e-16,1.531789e-10,4.775619e-09,1.000000e+00
1,6.469569e-05,9.999350e-01,5.842321e-09,2.826791e-08,1.687874e-08,2.806600e-07
2,6.469569e-05,9.999350e-01,5.842321e-09,2.826791e-08,1.687874e-08,2.806600e-07
3,6.469569e-05,9.999350e-01,5.842321e-09,2.826791e-08,1.687874e-08,2.806600e-07
4,6.469569e-05,9.999350e-01,5.842321e-09,2.826791e-08,1.687874e-08,2.806600e-07
5,6.469569e-05,9.999350e-01,5.842321e-09,2.826791e-08,1.687874e-08,2.806600e-07
6,2.908279e-09,1.170994e-09,2.541257e-16,1.089041e-10,3.576643e-09,1.000000e+00
7,1.398696e-07,9.107065e-08,2.343834e-13,8.226210e-09,1.389398e-07,9.999996e-01
8,1.398696e-07,9.107065e-08,2.343834e-13,8.226210e-09,1.389398e-07,9.999996e-01
9,6.469569e-05,9.999350e-01,5.842321e-09,2.826791e-08,1.687874e-08,2.806600e-07

In [ ]:
#pred_time = 1

In [18]:
predictions_test1 = pd.DataFrame()
predictions_test1['o1'] = first
predictions_test1['o2'] = second
predictions_test1['o3'] = third
predictions_test1['o4'] = forth
predictions_test1['o5'] = fifth
predictions_test1['o6'] = sixth

In [21]:
predictions_test1[:10]

,o1,o2,o3,o4,o5,o6
0,2.420210e-10,6.096923e-09,1.375406e-14,2.363927e-09,5.230796e-08,1.000000
1,8.552134e-05,9.999127e-01,6.242942e-08,1.772607e-07,2.220673e-07,0.000001
2,8.552134e-05,9.999127e-01,6.242942e-08,1.772607e-07,2.220673e-07,0.000001
3,8.552134e-05,9.999127e-01,6.242942e-08,1.772607e-07,2.220673e-07,0.000001
4,8.552134e-05,9.999127e-01,6.242942e-08,1.772607e-07,2.220673e-07,0.000001
5,8.552134e-05,9.999127e-01,6.242942e-08,1.772607e-07,2.220673e-07,0.000001
6,2.420210e-10,6.096923e-09,1.375406e-14,2.363927e-09,5.230796e-08,1.000000
7,2.420210e-10,6.096923e-09,1.375406e-14,2.363927e-09,5.230796e-08,1.000000
8,2.420210e-10,6.096923e-09,1.375406e-14,2.363927e-09,5.230796e-08,1.000000
9,8.552134e-05,9.999127e-01,6.242942e-08,1.772607e-07,2.220673e-07,0.000001

In [ ]:
#pred_time = 4

In [105]:
predictions_test4 = pd.DataFrame()
predictions_test4['o1'] = first
predictions_test4['o2'] = second
predictions_test4['o3'] = third
predictions_test4['o4'] = forth
predictions_test4['o5'] = fifth
predictions_test4['o6'] = sixth

In [106]:
predictions_test4[:10]

,o1,o2,o3,o4,o5,o6
0,1.056608e-10,1.203512e-10,8.280706e-18,2.640959e-11,3.371833e-10,1.000000e+00
1,2.194388e-05,9.999778e-01,7.436449e-09,3.904440e-08,1.947373e-08,2.340940e-07
2,2.194388e-05,9.999778e-01,7.436449e-09,3.904440e-08,1.947373e-08,2.340940e-07
3,2.194388e-05,9.999778e-01,7.436449e-09,3.904440e-08,1.947373e-08,2.340940e-07
4,2.194388e-05,9.999778e-01,7.436449e-09,3.904440e-08,1.947373e-08,2.340940e-07
5,2.194388e-05,9.999778e-01,7.436449e-09,3.904440e-08,1.947373e-08,2.340940e-07
6,7.785443e-11,8.852336e-11,4.885612e-18,1.907497e-11,2.516654e-10,1.000000e+00
7,1.040355e-08,1.626743e-08,1.754808e-14,3.003139e-09,2.260344e-08,1.000000e+00
8,1.040355e-08,1.626743e-08,1.754808e-14,3.003139e-09,2.260344e-08,1.000000e+00
9,2.194388e-05,9.999778e-01,7.436449e-09,3.904440e-08,1.947373e-08,2.340940e-07

#pred_time = 3

In [79]:
pred_test_modified = pred_test.reshape(1000,6)
first = []
second = []
third = []
forth = []
fifth = []
sixth = []
for i in range(1000):
  first.append(pred_test_modified[i][0])
  second.append(pred_test_modified[i][1])
  third.append(pred_test_modified[i][2])
  forth.append(pred_test_modified[i][3])
  fifth.append(pred_test_modified[i][4])
  sixth.append(pred_test_modified[i][5])

In [80]:
predictions_test3 = pd.DataFrame()
predictions_test3['o1'] = first
predictions_test3['o2'] = second
predictions_test3['o3'] = third
predictions_test3['o4'] = forth
predictions_test3['o5'] = fifth
predictions_test3['o6'] = sixth

In [81]:
predictions_test3[:10]

,o1,o2,o3,o4,o5,o6
0,2.622690e-12,3.533205e-11,1.174773e-17,1.144177e-11,2.364255e-10,1.000000e+00
1,3.940062e-05,9.999602e-01,1.167588e-08,3.348477e-08,3.626331e-08,3.447938e-07
2,3.940062e-05,9.999602e-01,1.167588e-08,3.348477e-08,3.626331e-08,3.447938e-07
3,3.940062e-05,9.999602e-01,1.167588e-08,3.348477e-08,3.626331e-08,3.447938e-07
4,3.940062e-05,9.999602e-01,1.167588e-08,3.348477e-08,3.626331e-08,3.447938e-07
5,3.940062e-05,9.999602e-01,1.167588e-08,3.348477e-08,3.626331e-08,3.447938e-07
6,1.672833e-12,2.336268e-11,6.133169e-18,7.513793e-12,1.631514e-10,1.000000e+00
7,4.193434e-10,4.239696e-09,1.538802e-14,1.156924e-09,1.388105e-08,1.000000e+00
8,4.193434e-10,4.239696e-09,1.538802e-14,1.156924e-09,1.388105e-08,1.000000e+00
9,3.940062e-05,9.999602e-01,1.167588e-08,3.348477e-08,3.626331e-08,3.447938e-07

In [87]:
risk_all[0][0:10]

array([[[1.14417703e-11, 2.47867227e-10, 2.47867227e-10, 1.00000000e+00]],

       [[7.88727254e-02, 1.64290249e-01, 1.64290249e-01, 9.76445198e-01]],

       [[7.88727254e-02, 1.64290249e-01, 1.64290249e-01, 9.76445198e-01]],

       [[7.88727254e-02, 1.64290249e-01, 1.64290249e-01, 9.76445198e-01]],

       [[7.88727254e-02, 1.64290249e-01, 1.64290249e-01, 9.76445198e-01]],

       [[7.88727254e-02, 1.64290249e-01, 1.64290249e-01, 9.76445198e-01]],

       [[7.51379341e-12, 1.70665176e-10, 1.70665176e-10, 1.00000000e+00]],

       [[1.15692378e-09, 1.50379762e-08, 1.50379762e-08, 1.00000000e+00]],

       [[1.15692378e-09, 1.50379762e-08, 1.50379762e-08, 1.00000000e+00]],

       [[7.88727254e-02, 1.64290249e-01, 1.64290249e-01, 9.76445198e-01]]])

#Pred_time = 2

In [60]:
pred_test_modified = pred_test.reshape(1000,6)
first = []
second = []
third = []
forth = []
fifth = []
sixth = []
for i in range(1000):
  first.append(pred_test_modified[i][0])
  second.append(pred_test_modified[i][1])
  third.append(pred_test_modified[i][2])
  forth.append(pred_test_modified[i][3])
  fifth.append(pred_test_modified[i][4])
  sixth.append(pred_test_modified[i][5])

In [61]:
predictions_test = pd.DataFrame()
predictions_test['o1'] = first
predictions_test['o2'] = second
predictions_test['o3'] = third
predictions_test['o4'] = forth
predictions_test['o5'] = fifth
predictions_test['o6'] = sixth

In [63]:
predictions_test[:10]

,o1,o2,o3,o4,o5,o6
0,2.226777e-09,1.008492e-10,5.137436e-16,4.549167e-11,1.450606e-10,1.000000e+00
1,1.236637e-05,9.999872e-01,9.061327e-09,4.120514e-08,5.832531e-08,3.639243e-07
2,1.236637e-05,9.999872e-01,9.061327e-09,4.120514e-08,5.832531e-08,3.639243e-07
3,1.236637e-05,9.999872e-01,9.061327e-09,4.120514e-08,5.832531e-08,3.639243e-07
4,1.236637e-05,9.999872e-01,9.061327e-09,4.120514e-08,5.832531e-08,3.639243e-07
5,1.236637e-05,9.999872e-01,9.061327e-09,4.120514e-08,5.832531e-08,3.639243e-07
6,2.226777e-09,1.008492e-10,5.137436e-16,4.549167e-11,1.450606e-10,1.000000e+00
7,7.658600e-08,7.984121e-09,2.158505e-13,2.685965e-09,7.130636e-09,9.999999e-01
8,7.658600e-08,7.984121e-09,2.158505e-13,2.685965e-09,7.130636e-09,9.999999e-01
9,1.236637e-05,9.999872e-01,9.061327e-09,4.120514e-08,5.832531e-08,3.639243e-07