In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('/home/ugrads/t/troyalty18/mimic4benchmark/data/time-dependent/boxhed_new_DH_train.csv')
val = pd.read_csv('/home/ugrads/t/troyalty18/mimic4benchmark/data/time-dependent/boxhed_new_DH_val.csv')
test = pd.read_csv('/home/ugrads/t/troyalty18/mimic4benchmark/data/time-dependent/boxhed_new_DH_test.csv')

In [3]:
train

,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,...,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH
0,1,60.722778,11432534_episode1,NaN,0.010556,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.9,NaN
1,1,60.722778,11432534_episode1,0.010556,0.027222,0,NaN,NaN,NaN,NaN,...,NaN,84.0,NaN,NaN,93.0,13.0,NaN,NaN,NaN,NaN
2,1,60.722778,11432534_episode1,0.027222,0.060556,0,NaN,42.0,NaN,NaN,...,NaN,NaN,NaN,53.0,NaN,NaN,85.0,NaN,NaN,NaN
3,1,60.722778,11432534_episode1,0.060556,0.143889,0,NaN,NaN,NaN,NaN,...,NaN,86.0,NaN,NaN,92.0,22.0,NaN,36.888889,NaN,NaN
4,1,60.722778,11432534_episode1,0.143889,0.177222,0,NaN,NaN,NaN,Spontaneously,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728671,22704,65.080000,12217253_episode1,62.367778,63.234444,0,NaN,NaN,NaN,NaN,...,NaN,82.0,NaN,NaN,99.0,18.0,NaN,NaN,NaN,NaN
2728672,22704,65.080000,12217253_episode1,63.234444,63.267778,0,NaN,46.0,NaN,NaN,...,NaN,NaN,NaN,62.0,NaN,NaN,109.0,NaN,NaN,NaN
2728673,22704,65.080000,12217253_episode1,63.267778,64.234444,0,NaN,NaN,NaN,NaN,...,NaN,81.0,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN
2728674,22704,65.080000,12217253_episode1,64.234444,64.251111,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98.0,NaN,NaN,NaN,NaN,NaN
2728675,22704,65.080000,12217253_episode1,64.251111,65.080000,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
train.id.max()

22704

In [7]:
val['id'] = val['id'] + train['id'].max()
val

,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,...,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH
0,22705,26.442778,18767874_episode1,NaN,1.995833,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.5
1,22705,26.442778,18767874_episode1,1.995833,2.279167,0,NaN,63.0,NaN,NaN,...,NaN,79.0,NaN,76.0,98.0,NaN,128.0,36.555556,NaN,NaN
2,22705,26.442778,18767874_episode1,2.279167,2.445833,0,NaN,NaN,NaN,Spontaneously,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22705,26.442778,18767874_episode1,2.445833,2.645833,0,NaN,67.0,NaN,NaN,...,NaN,80.0,NaN,78.0,97.0,19.0,124.0,NaN,NaN,NaN
4,22705,26.442778,18767874_episode1,2.645833,3.645833,0,NaN,67.0,NaN,NaN,...,NaN,84.0,NaN,83.0,97.0,25.0,134.0,37.111111,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498858,26820,42.498333,11122196_episode2,40.383333,40.400000,0,NaN,45.0,NaN,NaN,...,NaN,NaN,NaN,61.0,NaN,NaN,109.0,NaN,NaN,NaN
498859,26820,42.498333,11122196_episode2,40.400000,41.383333,0,NaN,NaN,NaN,Spontaneously,...,NaN,74.0,NaN,NaN,98.0,15.0,NaN,36.944444,NaN,NaN
498860,26820,42.498333,11122196_episode2,41.383333,41.400000,0,NaN,45.0,NaN,NaN,...,NaN,NaN,NaN,62.0,NaN,NaN,113.0,NaN,NaN,NaN
498861,26820,42.498333,11122196_episode2,41.400000,41.900000,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498862,26820,42.498333,11122196_episode2,41.900000,42.498333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
test['id'] = test['id'] + val['id'].max()
test

,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,...,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH
0,26821,47.378056,10003046_episode1,NaN,0.045833,0,0.0,NaN,NaN,Spontaneously,...,NaN,115.0,NaN,NaN,95.0,30.0,NaN,36.000000,80.000000,NaN
1,26821,47.378056,10003046_episode1,0.045833,0.062500,0,NaN,97.0,NaN,NaN,...,NaN,NaN,NaN,107.0,NaN,NaN,164.0,NaN,NaN,NaN
2,26821,47.378056,10003046_episode1,0.062500,0.179167,0,NaN,79.0,NaN,NaN,...,NaN,NaN,NaN,97.0,NaN,NaN,129.0,NaN,NaN,NaN
3,26821,47.378056,10003046_episode1,0.179167,0.345833,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.832192,NaN
4,26821,47.378056,10003046_episode1,0.345833,0.545833,0,NaN,63.0,NaN,NaN,...,NaN,113.0,NaN,79.0,96.0,12.0,121.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539197,31544,46.508333,19999987_episode1,44.533333,44.633333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN
539198,31544,46.508333,19999987_episode1,44.633333,45.016667,0,NaN,NaN,NaN,Spontaneously,...,NaN,92.0,NaN,NaN,100.0,23.0,NaN,37.833333,NaN,NaN
539199,31544,46.508333,19999987_episode1,45.016667,46.016667,0,NaN,NaN,NaN,NaN,...,NaN,87.0,NaN,NaN,98.0,24.0,NaN,37.000000,NaN,NaN
539200,31544,46.508333,19999987_episode1,46.016667,46.033333,0,NaN,107.0,NaN,NaN,...,NaN,NaN,NaN,116.0,NaN,NaN,143.0,NaN,NaN,NaN
539201,31544,46.508333,19999987_episode1,46.033333,46.508333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
test

,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,...,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH
0,22705,26.442778,18767874_episode1,NaN,1.995833,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.5
1,22705,26.442778,18767874_episode1,1.995833,2.279167,0,NaN,63.0,NaN,NaN,...,NaN,79.0,NaN,76.0,98.0,NaN,128.0,36.555556,NaN,NaN
2,22705,26.442778,18767874_episode1,2.279167,2.445833,0,NaN,NaN,NaN,Spontaneously,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22705,26.442778,18767874_episode1,2.445833,2.645833,0,NaN,67.0,NaN,NaN,...,NaN,80.0,NaN,78.0,97.0,19.0,124.0,NaN,NaN,NaN
4,22705,26.442778,18767874_episode1,2.645833,3.645833,0,NaN,67.0,NaN,NaN,...,NaN,84.0,NaN,83.0,97.0,25.0,134.0,37.111111,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498858,26820,42.498333,11122196_episode2,40.383333,40.400000,0,NaN,45.0,NaN,NaN,...,NaN,NaN,NaN,61.0,NaN,NaN,109.0,NaN,NaN,NaN
498859,26820,42.498333,11122196_episode2,40.400000,41.383333,0,NaN,NaN,NaN,Spontaneously,...,NaN,74.0,NaN,NaN,98.0,15.0,NaN,36.944444,NaN,NaN
498860,26820,42.498333,11122196_episode2,41.383333,41.400000,0,NaN,45.0,NaN,NaN,...,NaN,NaN,NaN,62.0,NaN,NaN,113.0,NaN,NaN,NaN
498861,26820,42.498333,11122196_episode2,41.400000,41.900000,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498862,26820,42.498333,11122196_episode2,41.900000,42.498333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
original_combined = pd.concat([train, val, test])
original_combined.to_csv('original_combined.csv')
original_combined

,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,...,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH
0,1,60.722778,11432534_episode1,NaN,0.010556,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.9,NaN
1,1,60.722778,11432534_episode1,0.010556,0.027222,0,NaN,NaN,NaN,NaN,...,NaN,84.0,NaN,NaN,93.0,13.0,NaN,NaN,NaN,NaN
2,1,60.722778,11432534_episode1,0.027222,0.060556,0,NaN,42.0,NaN,NaN,...,NaN,NaN,NaN,53.0,NaN,NaN,85.0,NaN,NaN,NaN
3,1,60.722778,11432534_episode1,0.060556,0.143889,0,NaN,NaN,NaN,NaN,...,NaN,86.0,NaN,NaN,92.0,22.0,NaN,36.888889,NaN,NaN
4,1,60.722778,11432534_episode1,0.143889,0.177222,0,NaN,NaN,NaN,Spontaneously,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539197,31544,46.508333,19999987_episode1,44.533333,44.633333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN
539198,31544,46.508333,19999987_episode1,44.633333,45.016667,0,NaN,NaN,NaN,Spontaneously,...,NaN,92.0,NaN,NaN,100.0,23.0,NaN,37.833333,NaN,NaN
539199,31544,46.508333,19999987_episode1,45.016667,46.016667,0,NaN,NaN,NaN,NaN,...,NaN,87.0,NaN,NaN,98.0,24.0,NaN,37.000000,NaN,NaN
539200,31544,46.508333,19999987_episode1,46.016667,46.033333,0,NaN,107.0,NaN,NaN,...,NaN,NaN,NaN,116.0,NaN,NaN,143.0,NaN,NaN,NaN
539201,31544,46.508333,19999987_episode1,46.033333,46.508333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
original_combined

,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,...,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH
0,1,60.722778,11432534_episode1,NaN,0.010556,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.9,NaN
1,1,60.722778,11432534_episode1,0.010556,0.027222,0,NaN,NaN,NaN,NaN,...,NaN,84.0,NaN,NaN,93.0,13.0,NaN,NaN,NaN,NaN
2,1,60.722778,11432534_episode1,0.027222,0.060556,0,NaN,42.0,NaN,NaN,...,NaN,NaN,NaN,53.0,NaN,NaN,85.0,NaN,NaN,NaN
3,1,60.722778,11432534_episode1,0.060556,0.143889,0,NaN,NaN,NaN,NaN,...,NaN,86.0,NaN,NaN,92.0,22.0,NaN,36.888889,NaN,NaN
4,1,60.722778,11432534_episode1,0.143889,0.177222,0,NaN,NaN,NaN,Spontaneously,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539197,31544,46.508333,19999987_episode1,44.533333,44.633333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN
539198,31544,46.508333,19999987_episode1,44.633333,45.016667,0,NaN,NaN,NaN,Spontaneously,...,NaN,92.0,NaN,NaN,100.0,23.0,NaN,37.833333,NaN,NaN
539199,31544,46.508333,19999987_episode1,45.016667,46.016667,0,NaN,NaN,NaN,NaN,...,NaN,87.0,NaN,NaN,98.0,24.0,NaN,37.000000,NaN,NaN
539200,31544,46.508333,19999987_episode1,46.016667,46.033333,0,NaN,107.0,NaN,NaN,...,NaN,NaN,NaN,116.0,NaN,NaN,143.0,NaN,NaN,NaN
539201,31544,46.508333,19999987_episode1,46.033333,46.508333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
original_combined.columns

Index(['id', 'tte', 'subject', 't_start', 'times', 'label',
       'Capillary refill rate', 'Diastolic blood pressure',
       'Fraction inspired oxygen', 'Glascow coma scale eye opening',
       'Glascow coma scale motor response', 'Glascow coma scale total',
       'Glascow coma scale verbal response', 'Glucose', 'Heart Rate', 'Height',
       'Mean blood pressure', 'Oxygen saturation', 'Respiratory rate',
       'Systolic blood pressure', 'Temperature', 'Weight', 'pH'],
      dtype='object')

In [86]:
print(original_combined['Glascow coma scale verbal response'].unique())

[nan 'Confused' 'Oriented' 'No Response-ETT' 'No Response'
 'Incomprehensible sounds' 'Inappropriate Words']

In [82]:
import json

channel_map = {}

with open('channel_info.json') as json_file:
    channel_map = json.load(json_file)

col = 'Glascow coma scale motor response'
print(original_combined[col].unique())
channel_map[col]["values"]

[nan 'Obeys Commands' 'No response' 'Flex-withdraws' 'Localizes Pain'
 'Abnormal Flexion' 'Abnormal extension']

{'1 No Response': 1,
 'No response': 1,
 '2 Abnorm extensn': 2,
 'Abnormal extension': 2,
 '3 Abnorm flexion': 3,
 'Abnormal Flexion': 3,
 '4 Flex-withdraws': 4,
 'Flex-withdraws': 4,
 '5 Localizes Pain': 5,
 'Localizes Pain': 5,
 '6 Obeys Commands': 6,
 'Obeys Commands': 6}

In [75]:
original_combined['Glascow coma scale motor response'].unique()

array([nan, 'Spontaneously', 'To Speech', 'None', 'To Pain'], dtype=object)

In [79]:
original_combined['Glascow coma scale eye opening'] = original_combined['Glascow coma scale eye opening'].map(channel_map["Glascow coma scale eye opening"]["values"])

In [88]:
# original_combined['Glascow coma scale eye opening'] = original_combined['Glascow coma scale eye opening'].map(channel_map["Glascow coma scale eye opening"]["values"])
cols = ['Glascow coma scale motor response', 'Glascow coma scale verbal response']
for col in cols:
    original_combined[col] = original_combined[col].map(channel_map[col]["values"])

In [99]:
original_combined

,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,...,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH
0,1,60.722778,11432534_episode1,NaN,0.010556,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.9,NaN
1,1,60.722778,11432534_episode1,0.010556,0.027222,0,NaN,NaN,NaN,NaN,...,NaN,84.0,NaN,NaN,93.0,13.0,NaN,NaN,NaN,NaN
2,1,60.722778,11432534_episode1,0.027222,0.060556,0,NaN,42.0,NaN,NaN,...,NaN,NaN,NaN,53.0,NaN,NaN,85.0,NaN,NaN,NaN
3,1,60.722778,11432534_episode1,0.060556,0.143889,0,NaN,NaN,NaN,NaN,...,NaN,86.0,NaN,NaN,92.0,22.0,NaN,36.888889,NaN,NaN
4,1,60.722778,11432534_episode1,0.143889,0.177222,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539197,31544,46.508333,19999987_episode1,44.533333,44.633333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN
539198,31544,46.508333,19999987_episode1,44.633333,45.016667,0,NaN,NaN,NaN,4.0,...,NaN,92.0,NaN,NaN,100.0,23.0,NaN,37.833333,NaN,NaN
539199,31544,46.508333,19999987_episode1,45.016667,46.016667,0,NaN,NaN,NaN,NaN,...,NaN,87.0,NaN,NaN,98.0,24.0,NaN,37.000000,NaN,NaN
539200,31544,46.508333,19999987_episode1,46.016667,46.033333,0,NaN,107.0,NaN,NaN,...,NaN,NaN,NaN,116.0,NaN,NaN,143.0,NaN,NaN,NaN
539201,31544,46.508333,19999987_episode1,46.033333,46.508333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
original_combined.to_csv('mimic_total_better_format.csv')

In [101]:
(original_combined.times > 120).sum()

909914

### Reducing Data

In [102]:
reduced = original_combined.copy(deep=True)

In [127]:
# TODO:
# Make sure if we need first 48 hours or not
# Get rid of anything else above 48
# Create random grid search to find the best model
# Get OG auc/roc to compare results
# See how the following affect results: 
#   * Better data
#   * Better hyperparam
# Set up a way to compare NLL and c-index to choose best model
# Create pipeline to go crazy

reduced = reduced[reduced['times'] <= 120]
reduced

,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,...,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,n_label
0,1,60.722778,11432534_episode1,NaN,0.010556,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.9,NaN,0
1,1,60.722778,11432534_episode1,0.010556,0.027222,0,NaN,NaN,NaN,NaN,...,84.0,NaN,NaN,93.0,13.0,NaN,NaN,NaN,NaN,0
2,1,60.722778,11432534_episode1,0.027222,0.060556,0,NaN,42.0,NaN,NaN,...,NaN,NaN,53.0,NaN,NaN,85.0,NaN,NaN,NaN,0
3,1,60.722778,11432534_episode1,0.060556,0.143889,0,NaN,NaN,NaN,NaN,...,86.0,NaN,NaN,92.0,22.0,NaN,36.888889,NaN,NaN,0
4,1,60.722778,11432534_episode1,0.143889,0.177222,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539197,31544,46.508333,19999987_episode1,44.533333,44.633333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,0
539198,31544,46.508333,19999987_episode1,44.633333,45.016667,0,NaN,NaN,NaN,4.0,...,92.0,NaN,NaN,100.0,23.0,NaN,37.833333,NaN,NaN,0
539199,31544,46.508333,19999987_episode1,45.016667,46.016667,0,NaN,NaN,NaN,NaN,...,87.0,NaN,NaN,98.0,24.0,NaN,37.000000,NaN,NaN,0
539200,31544,46.508333,19999987_episode1,46.016667,46.033333,0,NaN,107.0,NaN,NaN,...,NaN,NaN,116.0,NaN,NaN,143.0,NaN,NaN,NaN,0
539201,31544,46.508333,19999987_episode1,46.033333,46.508333,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [128]:
reduced.times.max()

120.0

In [158]:
reduced.n_label = 0
reduced.n_label.value_counts()

/home/ugrads/t/troyalty18/miniconda3/envs/ddh/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

0    2856827
Name: n_label, dtype: int64

In [159]:
reduced[(reduced.tte > 120) & (reduced.label == 1)]

,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,...,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,n_label
4234,35,148.020000,19045978_episode1,NaN,0.016667,1,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4235,35,148.020000,19045978_episode1,0.016667,0.183333,1,NaN,NaN,NaN,NaN,...,73.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,0
4236,35,148.020000,19045978_episode1,0.183333,0.250000,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN,NaN,0
4237,35,148.020000,19045978_episode1,0.250000,0.266667,1,NaN,87.0,NaN,3.0,...,74.0,NaN,101.0,98.0,17.0,143.0,NaN,NaN,NaN,0
4238,35,148.020000,19045978_episode1,0.266667,0.383333,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.794435,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537248,31528,199.066944,19960105_episode5,116.426944,117.093611,1,NaN,NaN,NaN,NaN,...,60.0,NaN,67.0,99.0,23.0,NaN,NaN,NaN,NaN,0
537249,31528,199.066944,19960105_episode5,117.093611,117.143611,1,NaN,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,174.0,NaN,NaN,NaN,0
537250,31528,199.066944,19960105_episode5,117.143611,118.093611,1,NaN,NaN,NaN,NaN,...,67.0,NaN,NaN,99.0,18.0,NaN,NaN,NaN,NaN,0
537251,31528,199.066944,19960105_episode5,118.093611,119.093611,1,NaN,NaN,NaN,NaN,...,60.0,NaN,NaN,99.0,20.0,NaN,NaN,NaN,NaN,0
537252,31528,199.066944,19960105_episode5,119.093611,119.893611,1,NaN,60.0,NaN,NaN,...,NaN,NaN,82.0,NaN,NaN,155.0,NaN,NaN,NaN,0

In [161]:
reduced.tte.min()

0.945278

In [164]:
original_5day = pd.read_csv('mimic_reduced_5Day.csv')
original_5day.tte.min()

0.9452780000000001

In [165]:
reduced.n_label.value_counts()

0    2856827
Name: n_label, dtype: int64

In [167]:
reduced.label.value_counts()

0    2531174
1     325653
Name: label, dtype: int64

In [183]:
change_idx_120 = reduced[(reduced.label == 1) & (reduced.tte > 120)].index
change_idx_120.shape

(169835,)

In [198]:
reduced.iloc[change_idx_120, 23]

6386      1
6387      1
6388      1
6389      1
6390      1
         ..
707736    1
707737    1
707738    1
707739    1
707740    1
Name: n_label, Length: 169835, dtype: int64

In [186]:
reduced.iloc[change_idx_120].loc[:,'n_label'] = 1

/home/ugrads/t/troyalty18/miniconda3/envs/ddh/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [192]:
reduced.n_label.value_counts()

0    2689353
1     167474
Name: n_label, dtype: int64

In [202]:
n_reduced = reduced.reset_index()
n_reduced

,index,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,...,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,n_label
0,0,1,60.722778,11432534_episode1,NaN,0.010556,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.9,NaN,0
1,1,1,60.722778,11432534_episode1,0.010556,0.027222,0,NaN,NaN,NaN,...,84.0,NaN,NaN,93.0,13.0,NaN,NaN,NaN,NaN,0
2,2,1,60.722778,11432534_episode1,0.027222,0.060556,0,NaN,42.0,NaN,...,NaN,NaN,53.0,NaN,NaN,85.0,NaN,NaN,NaN,0
3,3,1,60.722778,11432534_episode1,0.060556,0.143889,0,NaN,NaN,NaN,...,86.0,NaN,NaN,92.0,22.0,NaN,36.888889,NaN,NaN,0
4,4,1,60.722778,11432534_episode1,0.143889,0.177222,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2856822,539197,31544,46.508333,19999987_episode1,44.533333,44.633333,0,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,0
2856823,539198,31544,46.508333,19999987_episode1,44.633333,45.016667,0,NaN,NaN,NaN,...,92.0,NaN,NaN,100.0,23.0,NaN,37.833333,NaN,NaN,0
2856824,539199,31544,46.508333,19999987_episode1,45.016667,46.016667,0,NaN,NaN,NaN,...,87.0,NaN,NaN,98.0,24.0,NaN,37.000000,NaN,NaN,0
2856825,539200,31544,46.508333,19999987_episode1,46.016667,46.033333,0,NaN,107.0,NaN,...,NaN,NaN,116.0,NaN,NaN,143.0,NaN,NaN,NaN,0
2856826,539201,31544,46.508333,19999987_episode1,46.033333,46.508333,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [205]:
n_reduced[(n_reduced.label == 1) & (n_reduced.tte > 120)]

,index,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,...,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,n_label
3014,4234,35,148.020000,19045978_episode1,NaN,0.016667,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3015,4235,35,148.020000,19045978_episode1,0.016667,0.183333,1,NaN,NaN,NaN,...,73.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,0
3016,4236,35,148.020000,19045978_episode1,0.183333,0.250000,1,NaN,NaN,NaN,...,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN,NaN,0
3017,4237,35,148.020000,19045978_episode1,0.250000,0.266667,1,NaN,87.0,NaN,...,74.0,NaN,101.0,98.0,17.0,143.0,NaN,NaN,NaN,0
3018,4238,35,148.020000,19045978_episode1,0.266667,0.383333,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.794435,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2855153,537248,31528,199.066944,19960105_episode5,116.426944,117.093611,1,NaN,NaN,NaN,...,60.0,NaN,67.0,99.0,23.0,NaN,NaN,NaN,NaN,0
2855154,537249,31528,199.066944,19960105_episode5,117.093611,117.143611,1,NaN,50.0,NaN,...,NaN,NaN,NaN,NaN,NaN,174.0,NaN,NaN,NaN,0
2855155,537250,31528,199.066944,19960105_episode5,117.143611,118.093611,1,NaN,NaN,NaN,...,67.0,NaN,NaN,99.0,18.0,NaN,NaN,NaN,NaN,0
2855156,537251,31528,199.066944,19960105_episode5,118.093611,119.093611,1,NaN,NaN,NaN,...,60.0,NaN,NaN,99.0,20.0,NaN,NaN,NaN,NaN,0
2855157,537252,31528,199.066944,19960105_episode5,119.093611,119.893611,1,NaN,60.0,NaN,...,NaN,NaN,82.0,NaN,NaN,155.0,NaN,NaN,NaN,0

In [218]:
n_change_idx = n_reduced[(n_reduced.label == 1) & (n_reduced.tte > 120)].index
n_change_idx

Int64Index([   3014,    3015,    3016,    3017,    3018,    3019,    3020,
               3021,    3022,    3023,
            ...
            2855148, 2855149, 2855150, 2855151, 2855152, 2855153, 2855154,
            2855155, 2855156, 2855157],
           dtype='int64', length=169835)

In [219]:
n_reduced.n_label = n_reduced.label
n_reduced.n_label.value_counts()

0    2531174
1     325653
Name: n_label, dtype: int64

In [220]:
n_reduced.loc[n_change_idx, 'n_label'] = 0
n_reduced.n_label.value_counts()

0    2701009
1     155818
Name: n_label, dtype: int64

In [221]:
n_reduced[n_reduced.n_label == 0]

,index,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,...,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,n_label
0,0,1,60.722778,11432534_episode1,NaN,0.010556,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.9,NaN,0
1,1,1,60.722778,11432534_episode1,0.010556,0.027222,0,NaN,NaN,NaN,...,84.0,NaN,NaN,93.0,13.0,NaN,NaN,NaN,NaN,0
2,2,1,60.722778,11432534_episode1,0.027222,0.060556,0,NaN,42.0,NaN,...,NaN,NaN,53.0,NaN,NaN,85.0,NaN,NaN,NaN,0
3,3,1,60.722778,11432534_episode1,0.060556,0.143889,0,NaN,NaN,NaN,...,86.0,NaN,NaN,92.0,22.0,NaN,36.888889,NaN,NaN,0
4,4,1,60.722778,11432534_episode1,0.143889,0.177222,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2856822,539197,31544,46.508333,19999987_episode1,44.533333,44.633333,0,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,0
2856823,539198,31544,46.508333,19999987_episode1,44.633333,45.016667,0,NaN,NaN,NaN,...,92.0,NaN,NaN,100.0,23.0,NaN,37.833333,NaN,NaN,0
2856824,539199,31544,46.508333,19999987_episode1,45.016667,46.016667,0,NaN,NaN,NaN,...,87.0,NaN,NaN,98.0,24.0,NaN,37.000000,NaN,NaN,0
2856825,539200,31544,46.508333,19999987_episode1,46.016667,46.033333,0,NaN,107.0,NaN,...,NaN,NaN,116.0,NaN,NaN,143.0,NaN,NaN,NaN,0
2856826,539201,31544,46.508333,19999987_episode1,46.033333,46.508333,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [225]:
n_reduced.columns

Index(['index', 'id', 'tte', 'subject', 't_start', 'times', 'label',
       'Capillary refill rate', 'Diastolic blood pressure',
       'Fraction inspired oxygen', 'Glascow coma scale eye opening',
       'Glascow coma scale motor response', 'Glascow coma scale total',
       'Glascow coma scale verbal response', 'Glucose', 'Heart Rate', 'Height',
       'Mean blood pressure', 'Oxygen saturation', 'Respiratory rate',
       'Systolic blood pressure', 'Temperature', 'Weight', 'pH', 'n_label'],
      dtype='object')

In [230]:
n_reduced['Height'].value_counts()

178.0    38
157.0    37
175.0    37
173.0    34
170.0    34
183.0    29
165.0    27
168.0    25
180.0    23
163.0    22
160.0    16
155.0    14
152.0    12
188.0    10
185.0     9
150.0     5
142.0     2
145.0     2
140.0     2
159.0     2
177.0     2
156.0     1
161.0     1
193.0     1
151.0     1
166.0     1
171.0     1
196.0     1
Name: Height, dtype: int64

In [232]:
n_reduced.to_csv("n_reduced.csv")

In [234]:
mimic_reduced_new = n_reduced.copy(deep=True)

In [235]:
mimic_reduced_new.label = mimic_reduced_new.n_label
mimic_reduced_new[mimic_reduced_new.label == mimic_reduced_new.n_label].shape

(2856827, 25)

In [236]:
mimic_reduced_new.label.value_counts()

0    2701009
1     155818
Name: label, dtype: int64

In [242]:
mimic_reduced_new.to_csv("mimic_new.csv")

In [245]:
dfn = mimic_reduced_new

In [257]:
dfn

,index,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,...,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,n_label
0,0,1,60.722778,11432534_episode1,NaN,0.010556,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.9,NaN,0
1,1,1,60.722778,11432534_episode1,0.010556,0.027222,0,NaN,NaN,NaN,...,84.0,NaN,NaN,93.0,13.0,NaN,NaN,NaN,NaN,0
2,2,1,60.722778,11432534_episode1,0.027222,0.060556,0,NaN,42.0,NaN,...,NaN,NaN,53.0,NaN,NaN,85.0,NaN,NaN,NaN,0
3,3,1,60.722778,11432534_episode1,0.060556,0.143889,0,NaN,NaN,NaN,...,86.0,NaN,NaN,92.0,22.0,NaN,36.888889,NaN,NaN,0
4,4,1,60.722778,11432534_episode1,0.143889,0.177222,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2856822,539197,31544,46.508333,19999987_episode1,44.533333,44.633333,0,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,0
2856823,539198,31544,46.508333,19999987_episode1,44.633333,45.016667,0,NaN,NaN,NaN,...,92.0,NaN,NaN,100.0,23.0,NaN,37.833333,NaN,NaN,0
2856824,539199,31544,46.508333,19999987_episode1,45.016667,46.016667,0,NaN,NaN,NaN,...,87.0,NaN,NaN,98.0,24.0,NaN,37.000000,NaN,NaN,0
2856825,539200,31544,46.508333,19999987_episode1,46.016667,46.033333,0,NaN,107.0,NaN,...,NaN,NaN,116.0,NaN,NaN,143.0,NaN,NaN,NaN,0
2856826,539201,31544,46.508333,19999987_episode1,46.033333,46.508333,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [247]:
dfn.tte.max()

2441.429722

In [255]:
gr_120_idx = dfn[dfn['tte'] > 120].tte.index
gr_120_idx

Int64Index([    650,     651,     652,     653,     654,     655,     656,
                657,     658,     659,
            ...
            2856739, 2856740, 2856741, 2856742, 2856743, 2856744, 2856745,
            2856746, 2856747, 2856748],
           dtype='int64', length=900362)

In [259]:
dfn.loc[gr_120_idx, 'tte'] = 120

In [263]:
dfn.tte.max(), dfn.times.max()

(120.0, 120.0)

In [264]:
dfn.to_csv("mimic_new2.csv")

In [ ]:
dfn.

In [262]:
dfn.tte.max()

,index,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,...,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,n_label
0,0,1,60.722778,11432534_episode1,NaN,0.010556,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.9,NaN,0
1,1,1,60.722778,11432534_episode1,0.010556,0.027222,0,NaN,NaN,NaN,...,84.0,NaN,NaN,93.0,13.0,NaN,NaN,NaN,NaN,0
2,2,1,60.722778,11432534_episode1,0.027222,0.060556,0,NaN,42.0,NaN,...,NaN,NaN,53.0,NaN,NaN,85.0,NaN,NaN,NaN,0
3,3,1,60.722778,11432534_episode1,0.060556,0.143889,0,NaN,NaN,NaN,...,86.0,NaN,NaN,92.0,22.0,NaN,36.888889,NaN,NaN,0
4,4,1,60.722778,11432534_episode1,0.143889,0.177222,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2856822,539197,31544,46.508333,19999987_episode1,44.533333,44.633333,0,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,0
2856823,539198,31544,46.508333,19999987_episode1,44.633333,45.016667,0,NaN,NaN,NaN,...,92.0,NaN,NaN,100.0,23.0,NaN,37.833333,NaN,NaN,0
2856824,539199,31544,46.508333,19999987_episode1,45.016667,46.016667,0,NaN,NaN,NaN,...,87.0,NaN,NaN,98.0,24.0,NaN,37.000000,NaN,NaN,0
2856825,539200,31544,46.508333,19999987_episode1,46.016667,46.033333,0,NaN,107.0,NaN,...,NaN,NaN,116.0,NaN,NaN,143.0,NaN,NaN,NaN,0
2856826,539201,31544,46.508333,19999987_episode1,46.033333,46.508333,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [241]:
mimic_reduced_new[(mimic_reduced_new.id == 31000)].times

2807271     0.122500
2807272     0.172500
2807273     0.455833
2807274     1.255833
2807275     1.355833
2807276     1.455833
2807277     1.605833
2807278     2.455833
2807279     2.605833
2807280     3.455833
2807281     4.455833
2807282     4.472500
2807283     5.455833
2807284     6.455833
2807285     7.455833
2807286     8.455833
2807287     9.455833
2807288     9.655833
2807289     9.689167
2807290     9.972500
2807291    10.455833
2807292    11.455833
2807293    12.455833
2807294    13.455833
2807295    14.455833
2807296    14.489167
2807297    14.539167
2807298    15.455833
2807299    16.455833
2807300    17.455833
2807301    18.455833
2807302    19.022500
2807303    19.272500
2807304    19.355833
2807305    19.455833
2807306    20.455833
2807307    21.455833
2807308    21.572500
2807309    22.455833
2807310    23.455833
2807311    24.439167
2807312    24.455833
2807313    25.455833
2807314    26.455833
2807315    26.672500
2807316    27.455833
2807317    28.417222
Name: times, dtype: float64

In [195]:
reduced[(reduced.label == 1) & (reduced.tte > 120) & (reduced.n_label != 1)]

,id,tte,subject,t_start,times,label,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,...,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,n_label
4234,35,148.020000,19045978_episode1,NaN,0.016667,1,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4235,35,148.020000,19045978_episode1,0.016667,0.183333,1,NaN,NaN,NaN,NaN,...,73.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,0
4236,35,148.020000,19045978_episode1,0.183333,0.250000,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN,NaN,0
4237,35,148.020000,19045978_episode1,0.250000,0.266667,1,NaN,87.0,NaN,3.0,...,74.0,NaN,101.0,98.0,17.0,143.0,NaN,NaN,NaN,0
4238,35,148.020000,19045978_episode1,0.266667,0.383333,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.794435,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537248,31528,199.066944,19960105_episode5,116.426944,117.093611,1,NaN,NaN,NaN,NaN,...,60.0,NaN,67.0,99.0,23.0,NaN,NaN,NaN,NaN,0
537249,31528,199.066944,19960105_episode5,117.093611,117.143611,1,NaN,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,174.0,NaN,NaN,NaN,0
537250,31528,199.066944,19960105_episode5,117.143611,118.093611,1,NaN,NaN,NaN,NaN,...,67.0,NaN,NaN,99.0,18.0,NaN,NaN,NaN,NaN,0
537251,31528,199.066944,19960105_episode5,118.093611,119.093611,1,NaN,NaN,NaN,NaN,...,60.0,NaN,NaN,99.0,20.0,NaN,NaN,NaN,NaN,0
537252,31528,199.066944,19960105_episode5,119.093611,119.893611,1,NaN,60.0,NaN,NaN,...,NaN,NaN,82.0,NaN,NaN,155.0,NaN,NaN,NaN,0

## Older, weird results

In [156]:
len(change_to_0)

169835

In [157]:
reduced.iloc[change_to_0, 23]

6386      1
6387      1
6388      1
6389      1
6390      1
         ..
707736    1
707737    1
707738    1
707739    1
707740    1
Name: n_label, Length: 169835, dtype: int64

In [152]:
change_to_0 = reduced[(reduced.tte > 120) & (reduced.label == 1)].index.values
reduced.iloc[change_to_0, 23] = 1

/home/ugrads/t/troyalty18/miniconda3/envs/ddh/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [153]:
# WHAT!?
reduced.n_label.value_counts()

0    2689353
1     167474
Name: n_label, dtype: int64

In [150]:
for i, val in enumerate(reduced.columns):
    print(i, val)

0 id
1 tte
2 subject
3 t_start
4 times
5 label
6 Capillary refill rate
7 Diastolic blood pressure
8 Fraction inspired oxygen
9 Glascow coma scale eye opening
10 Glascow coma scale motor response
11 Glascow coma scale total
12 Glascow coma scale verbal response
13 Glucose
14 Heart Rate
15 Height
16 Mean blood pressure
17 Oxygen saturation
18 Respiratory rate
19 Systolic blood pressure
20 Temperature
21 Weight
22 pH
23 n_label

In [142]:
reduced.n_label.value_counts()

0    2856827
Name: n_label, dtype: int64

In [121]:
# Old value
reduced.label.value_counts()

0    3250567
1     516174
Name: label, dtype: int64

In [122]:
import numpy as np
# reduced['n_label'] = np.where(reduced['tte'].eq(1).groupby(reduced['id']).transform('any'), 1, reduced['label'])
reduced['n_label'] = np.where(reduced['tte'] > 120, 0, reduced['label'])
reduced['n_label']

0         0
1         0
2         0
3         0
4         0
         ..
539197    0
539198    0
539199    0
539200    0
539201    0
Name: n_label, Length: 3766741, dtype: int64

In [123]:
reduced.label.value_counts()

0    3250567
1     516174
Name: label, dtype: int64

In [116]:
reduced.n_label.unique()

array(['0', 'KO'], dtype=object)

In [60]:
# # from sklearn.preprocessing import OneHotEncoder
# from sklearn.preprocessing import OrdinalEncoder
# df = pd.read_csv('original_combined.csv')

# cat = df[['Capillary refill rate', 'Glascow coma scale eye opening',
#        'Glascow coma scale motor response', 'Glascow coma scale total',
#        'Glascow coma scale verbal response']].astype('str')
# num = df.drop(cat.columns, axis=1)

# # Filling in blank t_start values
# num['t_start'] = num['t_start'].fillna(0)

# # enc = OrdinalEncoder(handle_unknown='ignore')  
# enc = OrdinalEncoder()
# # cat_transformed = enc.fit_transform(cat).toarray()
# cat_transformed = enc.fit_transform(cat)

# cat_transformed_df = pd.DataFrame(cat_transformed, columns=enc.get_feature_names())
# combined = pd.concat([num, cat_transformed_df], axis=1)

# # combined.to_csv("combined.csv")
# combined

AttributeError: 'OrdinalEncoder' object has no attribute 'get_feature_names'

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
df = pd.read_csv('original_combined.csv')

cat = df[['Capillary refill rate', 'Glascow coma scale eye opening',
       'Glascow coma scale motor response', 'Glascow coma scale total',
       'Glascow coma scale verbal response']].astype('str')
num = df.drop(cat.columns, axis=1)

# Filling in blank t_start values
num['t_start'] = num['t_start'].fillna(0)

# enc = OrdinalEncoder(handle_unknown='ignore')  
enc = OrdinalEncoder()
# cat_transformed = enc.fit_transform(cat).toarray()
cat_transformed = enc.fit_transform(cat)

cat_transformed_df = pd.DataFrame(cat_transformed, columns=enc.get_feature_names())
combined = pd.concat([num, cat_transformed_df], axis=1)

# combined.to_csv("combined.csv")
combined

In [61]:
cat_transformed

array([[ 2.,  4.,  6., 13.,  6.],
       [ 2.,  4.,  6., 13.,  6.],
       [ 2.,  4.,  6., 13.,  6.],
       ...,
       [ 2.,  4.,  6., 13.,  6.],
       [ 2.,  4.,  6., 13.,  6.],
       [ 2.,  4.,  6., 13.,  6.]])

In [58]:
OrdinalEncoder().fit_transform(cat)

array([[ 2.,  4.,  6., 13.,  6.],
       [ 2.,  4.,  6., 13.,  6.],
       [ 2.,  4.,  6., 13.,  6.],
       ...,
       [ 2.,  4.,  6., 13.,  6.],
       [ 2.,  4.,  6., 13.,  6.],
       [ 2.,  4.,  6., 13.,  6.]])

In [52]:
cat

,Capillary refill rate,Glascow coma scale eye opening,Glascow coma scale motor response,Glascow coma scale total,Glascow coma scale verbal response
0,nan,nan,nan,nan,nan
1,nan,nan,nan,nan,nan
2,nan,nan,nan,nan,nan
3,nan,nan,nan,nan,nan
4,nan,Spontaneously,Obeys Commands,14.0,Confused
...,...,...,...,...,...
3766736,nan,nan,nan,nan,nan
3766737,nan,Spontaneously,Obeys Commands,14.0,Confused
3766738,nan,nan,nan,nan,nan
3766739,nan,nan,nan,nan,nan
3766740,nan,nan,nan,nan,nan

In [18]:
combined.columns

Index(['Unnamed: 0', 'id', 'tte', 'subject', 't_start', 'times', 'label',
       'Diastolic blood pressure', 'Fraction inspired oxygen', 'Glucose',
       'Heart Rate', 'Height', 'Mean blood pressure', 'Oxygen saturation',
       'Respiratory rate', 'Systolic blood pressure', 'Temperature', 'Weight',
       'pH', 'x0_0.0', 'x0_1.0', 'x0_nan', 'x1_None', 'x1_Spontaneously',
       'x1_To Pain', 'x1_To Speech', 'x1_nan', 'x2_Abnormal Flexion',
       'x2_Abnormal extension', 'x2_Flex-withdraws', 'x2_Localizes Pain',
       'x2_No response', 'x2_Obeys Commands', 'x2_nan', 'x3_10.0', 'x3_11.0',
       'x3_12.0', 'x3_13.0', 'x3_14.0', 'x3_15.0', 'x3_3.0', 'x3_4.0',
       'x3_5.0', 'x3_6.0', 'x3_7.0', 'x3_8.0', 'x3_9.0', 'x3_nan',
       'x4_Confused', 'x4_Inappropriate Words', 'x4_Incomprehensible sounds',
       'x4_No Response', 'x4_No Response-ETT', 'x4_Oriented', 'x4_nan'],
      dtype='object')